<% @method = "POST" %>
<% @url = admin_allowances_path %>
<div class="table-responsive" style="overflow-x: scroll; overflow-y: scroll;">
  
<%= form_tag(@url, method: @method, class: 'form-horizontal', id: 'allowance-form',remote: true) do |form| %>
	<table class="table" style="margin-bottom: 20px !important; overflow-x: scroll; ">
	  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
	  	<th rowspan="2">Group</th>
	  	<th rowspan="2">Category</th>
	  	<th colspan="3">OverTime</th>
	  	<th colspan="2">Transpotation</th>
	  	<th>Contingency </th>
	  </tr>
	  <tr style="color: #fff; background: #4B4B4D;">
	  	<th>Hours</th>
	  	<th>Minutes</th>
	  	<th>Amount</th>
	  	<th>Days</th>
	  	<th>Amount</th>
	  	<th>Amount</th>
	  </tr>
	  </thead>
	  <tbody>
	  	<%@allowance_selected_category_list.each do |group,category|%>
	  		<%category.each do |cate_name,data|%>
	  			<tr class="allowance-data allowance_row", id= "allowance_category_id_<%=data[0]%>">
		      	<%= hidden_field_tag  "category_id_#{data[0]}", "#{data[0]}", id: "category_id_#{data[0]}" %>
		      	<%= hidden_field_tag  "s_month_#{data[0]}", "", class: 's_month', id: "s_month_#{data[0]}" %>
		      	<%= hidden_field_tag  "s_station_#{data[0]}", "", class: 's_station', id: "s_station_#{data[0]}" %>
		      	<%= hidden_field_tag  "s_category", "", class: 's_category', id: "s_category" %>
		      	<td><%=group%></td>
	        	<td><%=data[1]%></td>
	        	<td>
	        		<%= number_field_tag "over_time_hours_#{data[0]}", '', placeholder: "Hr", class: 'form-control input-md',min:1,title: 'Hours', id: "over_time_hours_#{data[0]}",style: "width: 75px; font-size:16px;" %>
	        	</td>
	        	<td>	
	        		<%= number_field_tag "over_time_minutes_#{data[0]}", '', placeholder: "Mi", class: 'form-control input-md',min:1,title: 'Hours', id: "over_time_minutes_#{data[0]}",style: "width: 75px; font-size:16px;" %>
	        	</td>
	        	<td>
	        		<%= number_field_tag "over_time_amount_#{data[0]}", '', placeholder: "Amt", class: 'form-control input-md',min:1,title: 'Hours', id: "over_time_amount_#{data[0]}",style: "width: 115px; font-size:16px;" %>
	        	</td>
		        <td>
		        	<%= number_field_tag "transpotation_days_#{data[0]}", '', placeholder: "Day", class: 'form-control input-md',min:1,title: 'Days', id: "transpotation_days_#{data[0]}",style: "width: 105px; font-size:16px;" %>
		        </td>
		        <td>
		        	<%= number_field_tag "transpotation_amount_#{data[0]}", '', placeholder: "Amt", class: 'form-control input-md',min:1,title: 'Amount', id: "transpotation_amount_#{data[0]}",style: "width: 115px; font-size:16px;" %>
		        </td>
		        <td>
		        	<%= number_field_tag "contingency_amount_#{data[0]}", '', placeholder: "Amt", class: 'form-control input-md',min:1,title: 'Amount', id: "contingency_amount",style: "width: 115px; font-size:16px;" %>
		        </td>
		      </tr>
	    	<%end%>
	    <%end%>  
	  </tbody>
	</table>
 
    <div align="center">
			<button class="btn btn-primary btn-flat submit" type="submit"><i class="fa fa-check submit"></i>Save</button>
    </div>
   
<%end%>
</div>
<script>
  $(function(){
    selected_month = $("#allowance_month_list").val();
    station= $("#allowance_station_list").val();
    selected_category = $('#allowance-category-list').val();

    $(".s_month").val(selected_month);
    $(".s_station").val(station);
    $(".s_category").val(selected_category);
      
  });
  

</script>