<% @method = "POST" %>
<% @url = admin_allowances_path %>
<div class="table-responsive" style="overflow-x: scroll; overflow-y: scroll;">
  
<%= form_tag(@url, method: @method, class: 'form-horizontal', id: 'allowance-form',remote: true) do |form| %>
	<table class="table" style="margin-bottom: 20px !important; overflow-x: scroll; ">
	  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
	  	<th style="vertical-align: middle;" rowspan="2">Group</th>
	  	<th style="vertical-align: middle;" rowspan="2">Category</th>
	  	<th style="vertical-align: middle;" colspan="3">OverTime</th>
	  	<th colspan="2">Transpotation</th>
	  	<th>Contingency </th>
	  	<th style="vertical-align: middle;" rowspan="2">Action</th>
	  </tr>
	  <tr style="color: #fff; background: #4B4B4D;">
	  	<th>Hours</th>
	  	<th>Minutes</th>
	  	<th>Amount</th>
	  	<th>Days</th>
	  	<th>Amount</th>
	  	<th>Amount</th>
	  </tr>
	  </thead>
	  <tbody>
	  <%if @allowance_selected_data.present?%>	
	  	<%@allowance_selected_data.each do |key,value|%>
	  		<tr class="allowance-data allowance_row" id= "allowance_category_id_<%=key%>">
	  			<%= hidden_field_tag  "category_id_#{key}", "#{key}", id: "category_id_#{key}" %>
	      	<%= hidden_field_tag  "s_month_#{key}", "", class: 's_month', id: "s_month_#{key}" %>
	      	<%= hidden_field_tag  "s_station_#{key}", "", class: 's_station', id: "s_station_#{key}" %>
	      	<%= hidden_field_tag  "s_category", "", class: 's_category', id: "s_category" %>
		      <%= hidden_field_tag  "record_id_#{key}", "#{value.present? ? value.id : ''}", id: "record_id_#{key}" %>	
	  			<td><%=value.present? ? value.employee_category.group : EmployeeCategory.find(key).group%></td>
	        <td><%=value.present? ? value.employee_category.employee_posts.pluck(:post_code).join('/ '): EmployeeCategory.find(key).employee_posts.pluck(:post_code).join('/ ')%></td>
	        <td>
        		<%= number_field_tag "over_time_hours_#{key}", "#{value.present? ? value.over_time_hours : ''}", placeholder: "Hr", class: 'form-control input-md',min:1,title: 'Hours', id: "over_time_hours_#{key}",style: "width: 75px; font-size:16px;" %>
        	</td>
        	<td>	
        		<%= number_field_tag "over_time_minutes_#{key}", "#{value.present? ? value.over_time_minutes : ''}", placeholder: "Mi", class: 'form-control input-md',min:1,title: 'Hours', id: "over_time_minutes_#{key}",style: "width: 75px; font-size:16px;" %>
        	</td>
        	<td>
        		<%= number_field_tag "over_time_amount_#{key}", "#{value.present? ? value.over_time_amount : ''}", placeholder: "Amt", class: 'form-control input-md',min:1,title: 'Hours', id: "over_time_amount_#{key}",style: "width: 115px; font-size:16px;" %>
        	</td>
	        <td>
	        	<%= number_field_tag "transpotation_days_#{key}", "#{value.present? ? value.transpotation_days : ''}", placeholder: "Day", class: 'form-control input-md',min:1,title: 'Days', id: "transpotation_days_#{key}",style: "width: 105px; font-size:16px;" %>
	        </td>
	        <td>
	        	<%= number_field_tag "transpotation_amount_#{key}", "#{value.present? ? value.transpotation_amount : ''}", placeholder: "Amt", class: 'form-control input-md',min:1,title: 'Amount', id: "transpotation_amount_#{key}",style: "width: 115px; font-size:16px;" %>
	        </td>
	        <td>
	        	<%= number_field_tag "contingency_amount_#{key}", "#{value.present? ? value.contingency_amount : ''}", placeholder: "Amt", class: 'form-control input-md',min:1,title: 'Amount', id: "contingency_amount",style: "width: 115px; font-size:16px;" %>
	        </td>	
	        <td style="vertical-align: middle; text-align: center;">
          	<a href="#" class="remove-ip label label-danger" id="<%=key%>-allowance_delete" style="padding: 20%" ><i class="fa fa-trash-o"></i></a>
          </td>
	  		</tr>		
	    <%end%>  
	  <%end%>  
	  </tbody>
	</table>
 
  <div>
  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" align="right">
			<button class="btn btn-primary btn-flat submit" type="submit"><i class="fa fa-check submit"></i>Save</button>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" align="left">	
			<p style="color: red;font-weight: bold;" id="allowance_data_save"></p>
  	</div>
  </div>
   
<%end%>
</div>
<div class="modal fade colored-header" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 350px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>You really want to delete this Row?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" align="center">
        
          <input type="button" class="btn btn-danger btn-lg" value="Delete" id="confirm_allowance_delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" class="btn btn-default btn-lg" data-dismiss="modal" value="Cancel"id="cancel">
     
     </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    selected_month = $("#allowance_month_list").val();
    station= $("#allowance_station_list").val();
    selected_category = $('#allowance-category-list').val();

    $(".s_month").val(selected_month);
    $(".s_station").val(station);
    $(".s_category").val(selected_category);
      
  });

  $(".label-danger").on('click',function(){
    delete_index = $(this).attr('id').split("-")[0];
    delete_allowance_id = $("#record_id_"+delete_index).val();
    $("#delete-modal").modal('show');
  });

  $("#confirm_allowance_delete").click(function () {
  	
  	$("#delete-modal").modal('hide');
    if (delete_allowance_id != "") {
      $.ajax({
      type: "get",
      url: "/delete_allowance.js?delete_allowance_id=" + delete_allowance_id
    	});
  	}

    $('.allowance-data:visible').each(function() {
    	if($(this).attr("id").split("_")[3] == delete_index){
        $(this).remove('');
      }
    });
  });

  <%if @allowance_data_status.present?%>
    $("#allowance_data_save").show(); 
    $("#allowance_data_save").html("Data Saved !");
    $("#allowance_data_save").hide(8000);
  <%end%>


</script>