<div id="custom_month_reports">
<span style="font-size: 16px;color:#cc3d16;">Month Wise Loading&nbsp;&nbsp;</span>

<table class="table hover table-bordered" id="custom-month-reports">
  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
      <th style="vertical-align: middle;" rowspan="2">Station</th>
      <th style="vertical-align: middle;" rowspan="2"><%=params[:selected_report_type]%></th>
      <%if @custom_month_report_header.present?%>
        <% @custom_month_report_header << "Total"%>
        <% @custom_month_report_header.each_with_index do |month| %>
          <th style="vertical-align: middle;" colspan="2"><%= (month == "Total") ? "Total" : month rescue ''%></th>
        <%end%>
      <%end%>
    </tr>
    <tr style="color: #fff; background: #4B4B4D;">
      <%if @custom_month_report_header.present?%>
        <% i = @custom_month_report_header.count%>
        <% (1..i).each do |i| %>
          <th style="vertical-align: middle;">Rake</th>
          <th style="vertical-align: middle;">Unit</th>
        <%end%>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <%column_total_hash = {}%>
    <%if @custom_month_report_data.present?%>
      <% @custom_month_report_data.each do |station,commodity_data| %>
        <tr class="<%=station%>" >
          <th  class="text-center" rowspan="<%=commodity_data.keys.count+1%>"> <%=station%> </th>
        </tr>
        <% commodity_data.each do |commodity,month_data|%>
          <%row_total_rakes = []%>
          <%row_total_units = []%>
          <%rakes = 0.0%>
          <%units = 0%>
          <tr>
            <td class="text-center"> <%=commodity%> </td>
            <%if @custom_month_report_header.present?%>
              <% @custom_month_report_header.each do |month|%>
                <%if month != "Total"%>
                  <%if month_data[month].present?%>
                    <%rakes = month_data[month].map{|x|x.rake_count}.sum%>
                    <%units = month_data[month].map{|x|x.loaded_unit}.sum%>
                    <%row_total_rakes << rakes%>
                    <%row_total_units << units%>
                    <%if column_total_hash[month].present?%>
                      <%column_total_hash[month][0] << rakes rescue nil%>
                      <%column_total_hash[month][1] << units rescue nil%>
                    <%else%>
                      <%column_total_hash.merge!("#{month}" => [[rakes],[units]])%>
                    <%end%>
                    <td class="text-center <%=station%>-<%=commodity%>-rakes"> <%= rakes%></td>
                    <td class="text-center <%=station%>-<%=commodity%>-units"> <%= units%></td>   
                  <%else%>
                    <td></td>
                    <td></td>
                  <%end%>
                <%else%>
                  <td class="text-center"> <%= row_total_rakes.sum%></td>
                  <td class="text-center"> <%= row_total_units.sum%></td>
                  <%if column_total_hash["Total"].present?%>
                    <%column_total_hash["Total"][0] << row_total_rakes.compact.sum%>
                    <%column_total_hash["Total"][1] << row_total_units.compact.sum%>
                  <%else%>
                    <%column_total_hash.merge!("Total" => [[row_total_rakes.compact.sum],[row_total_units.compact.sum]])%>  
                  <%end%>   
                <%end%>
              <%end%>
            <%end%>
          </tr> 
        <%end%>
      <%end%>
    <%end%>
    <tr>
      <td class="text-center" colspan="2">Total</td>
      <% @custom_month_report_header.each do |month|%>
        <%if column_total_hash[month].present?%>
          <td class="text-center"><%=column_total_hash[month][0].sum%></td>
          <td class="text-center"><%=column_total_hash[month][1].sum%></td>
        <%else%>
          <td></td>
          <td></td>
        <%end%>  
      <%end%>  
    </tr>
  </tbody>
</table>
</div>
<script>
  
</script>
