<div id="custom_reports">
<h3 align="center">Loading Data Station-Commodity Wise </h3>
<p id="adi_station_heading" style="font-size: 16px;color:#cc3d16;"></p>

<table class="table hover table-bordered" id="custom-reports">
  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
      <%if @custom_report_header_hash.present?%>
        <%header = ["Date"] + @custom_report_header_hash.keys%>
        <%header.each do |station| %>
          <%colspan = @custom_report_header_hash[station].present? ? @custom_report_header_hash[station][:header].count : 1%>
          <th style="vertical-align: middle;" colspan="<%=colspan%>"><%=station%></th>
        <%end%>
      <%end%>
    </tr>
    <tr  style="color: #fff; background: #4B4B4D;">
      <%if @custom_report_header_hash.present?%>
        <%header.each do |station| %>
          <%if @custom_report_header_hash[station].present?%>
            <%@custom_report_header_hash[station][:header].each do |commodity|%>
              <th style="vertical-align: middle;"><%=commodity%></th>
            <%end%>
          <%else%>
            <th style="vertical-align: middle;"></th>
          <%end%>
        <%end%>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <%if @custom_report_data_hash.present? && @custom_report_header_hash.present?%>
    
      <% @custom_report_data_hash.each do |date,value| %>
        <tr id=<%=date%>>
          <td class="text-center -<%= date %>"><%=date.to_date.strftime("%d/%m/%y")%></td>
            <%station = @custom_report_header_hash.keys%>
            <%station.each do |station|%>
              <%if @custom_report_data_hash[date][station].present?%>
                <%@custom_report_header_hash[station][:header].each do |commodity|%>
                  <%if @custom_report_data_hash[date][station][commodity].present?%> 
                    <%total_loaded_unit = @custom_report_data_hash[date][station][commodity].map{|v| v.loaded_unit || 0}.sum%>  
                    <td class="text-center <%=station%>-<%=commodity%>"><%= total_loaded_unit rescue '' %></td>
                  <%else%>
                    <td class="text-center <%=station%>-<%=commodity%>"><%= "" %></td>  
                  <% end %>  
                <% end %>
              <%else%>
                <%@custom_report_header_hash[station][:header].each do |commodity|%>
                  <td class="text-center <%=station%>-<%=commodity%>"><%= "" %></td>  
                <%end%>   
              <% end %>
            <% end %>
        </tr>
      <% end %>
    <% end %>  
  </tbody>
</table>
</div>
<script>
  $(function () {
    effective_from = $("#start_date").val();
    effective_to = $("#end_date").val();
    document.getElementById("adi_station_heading").innerHTML="Period From: "+effective_from+" To: "+effective_to;
  });
</script>
