<div class="tab-container" id="total_gimb">
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" >
  <p style="font-size: 18px;color:red;">
    Rake :<%=(@total_gimb_rake)%>&nbsp;
    Unit :<%=(@total_gimb_unit)%>&nbsp;
  </p>
</div>

<table class="table hover table-bordered" id="total-gimb">
  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
      <th style="vertical-align: middle;">Station</th>
      <th style="vertical-align: middle;">Rake</th>
      <th style="vertical-align: middle;">Units</th>
      <th>Total<br>AR-PM</th>
      <th>Total<br>PM-RL</th>
      <th>Total<br>RL-DP</th>
      <th>AVG.<br>AR-PM</th>
      <th>AVG.<br>PM-RL</th>
      <th>AVG.<br>RL-DP</th>
    </tr>
  </thead>
  <tbody>
   <% @total_gimb_phasewise_data.each do |key,value| %>
      <%if key != "Total"%>
        <%load = LoadUnload.find(key) rescue nil%>
        <%next unless load%>
      <% end %>
      <tr id=<%=key%>>

        <td class="text-center"><span class="view-location-<%= key %>"><%= (key == "Total") ? "TOTAL" : load.station.code rescue '' %></span></td>
        <td class="text-center"><span class="view-location-<%= key %>"><%= (key == "Total") ? value[:phasewise_rake_count] : value[:rake_count] rescue '' %></span></td>
        <td class="text-center"><span class="view-location-<%= key %>"><%= (key == "Total") ? value[:phasewise_loaded_unit] : value[:loaded_unit] rescue '' %></span></td>
        <td class="text-center"><span class="view-location-<%= key %>"><%= (key == "Total") ? value[:total_detn_arrival_placement] : value[:detention_arrival_placement] rescue '' %></span></td>
        <td class="text-center"><span class="view-location-<%= key %>"><%= (key == "Total") ? value[:total_detn_placement_release] : value[:detention_placement_release] rescue '' %></span></td>
        <td class="text-center"><span class="view-location-<%= key %>"><%= (key == "Total") ? value[:total_detn_removal_departure] : value[:detention_removal_departure] rescue '' %></span></td>
        <td class="text-center"><span class="view-location-<%= key %>"><%= (key == "Total") ? value[:total_average_arrival_placement] : value[:detention_arrival_placement_average] rescue '' %></span></td>
        <td class="text-center"><span class="view-location-<%= key %>"><%= (key == "Total") ? value[:total_average_placement_release] : value[:detention_placement_release_average] rescue '' %></span></td>
        <td class="text-center"><span class="view-location-<%= key %>"><%= (key == "Total") ? value[:total_average_removal_departure] : value[:detention_removal_departure_average] rescue '' %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>