<script>

    $(document).ready(function () {
      $('.sidebar-remain-open').click();
    });

</script>
<div class="table-responsive main-client-listing">
  <div id="client-message"></div>
  <table class="table hover table-dark" id="phasewise-reports">
    <caption>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <span class="pull-left lead-text">
            <%="PhasewiseReport"%>
          </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <%= text_field_tag "report_from_date",Date.today.strftime('%Y-%m-%d'),placeholder: 'phasewise from date', id: "from-datepicker", class: 'form-control input_class'%>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <%= text_field_tag "report_to_date", Date.today.strftime('%Y-%m-%d'),placeholder: 'phasewise to date', id: "to-datepicker", class: 'form-control input_class'%>
      </div>
     
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <button class="btn btn-primary btn-flat submit" type="submit">Show Report</button>
      </div>
      
    </caption>
    </table>
    
  <div class="tab-container">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#division-loading-info" id="division-loading-tab" data-toggle="tab">DIVN(LD)</a>
      </li>
      <li>
        <a href="#adi-area-loading-info" id="adi-area-loading-tab" data-toggle="tab">ADI(LD)</a>
      </li>
      <li>
        <a href="#gimb-area-loading-info" id="gimb-area-loading-tab" data-toggle="tab">GIMB(LD)</a>
      </li>
      <li>
        <a href="#division-unloading-info" id="division-unloading-tab" data-toggle="tab">DIVN(PU)</a>
      </li>
      <li>
        <a href="#adi-area-unloading-info" id="adi-area-unloading-tab" data-toggle="tab">ADI(PU)</a>
      </li>
      <li>
        <a href="#gimb-area-unloading-info" id="gimb-area-unloading-tab" data-toggle="tab">GIMB(PU)</a>
      </li>
      <li>
        <a href="#total-division-info" id="total-division-tab" data-toggle="tab">Division</a>
      </li>
      <li>
        <a href="#total-adi-info" id="total-adi-tab" data-toggle="tab">ADI</a>
      </li>
      <li>
        <a href="#total-gimb-info" id="total-gimb-tab" data-toggle="tab">GIMB</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="division-loading-info" class="tab-pane active cont">
        <%=render 'division_listing'%>
        <div id="division_load_form"></div>
      </div>
      <div id="adi-area-loading-info" class="tab-pane cont">
        <%=render 'adi_listing'%>
        <div id="adi_load_form"></div>
      </div>
      <div id="gimb-area-loading-info" class="tab-pane cont">
        <%=render 'gimb_listing'%>
        <div id="gimb_load_form"></div>
      </div>
      <div id="division-unloading-info" class="tab-pane cont">
        <%=render 'division_unloading'%>
        <div id="division_unload_form"></div>
      </div>
      <div id="adi-area-unloading-info" class="tab-pane cont">
        <%=render 'adi_unloading'%>
        <div id="adi_unload_form"></div>
      </div>
      <div id="gimb-area-unloading-info" class="tab-pane cont">
        <%=render 'gimb_unloading'%>
        <div id="gimb_unload_form"></div>
      </div>
      <div id="total-division-info" class="tab-pane cont">
        <%=render 'total_division'%>
        <div id="total_division_load_form"></div>
      </div>
      <div id="total-adi-info" class="tab-pane cont">
        <%=render 'total_adi'%>
        <div id="total_adi_load_form"></div>
      </div>
      <div id="total-gimb-info" class="tab-pane cont">
        <%=render 'total_gimb'%>
        <div id="total_gimb_load_form"></div>
      </div>
      <div id="loading-indicator">
        <%#= image_tag("728.GIF", :id => "loading-indicator") %>
      </div>
    </div>
  </div>
  

</div>





<script>
  

  var old_from_date = '<%=Date.today.strftime("%d/%m/%Y")%>';
  var old_to_date = '<%=Date.today.strftime("%d/%m/%Y")%>';
  $(function () {
    $("#from-datepicker").datepicker({ 
          autoclose: true, 
          format:"dd/mm/yyyy",
          todayHighlight: true,
    });
    $('#from-datepicker').datepicker('setDate', 'today');
 
    $("#to-datepicker").datepicker({ 
          autoclose: true, 
          format:"dd/mm/yyyy",
          todayHighlight: true,
    });
    $('#to-datepicker').datepicker('setDate', 'today');
  

  });

  $(".submit").click(function () {
     effective_from = $("#from-datepicker").val();
     effective_to = $("#to-datepicker").val();
        $.ajax({
          type: "get",
          url: "/admin/phasewise_reports.js?from_date=" + effective_from + "&to_date=" + effective_to
        });
        old_from_date = effective_from 
        old_to_date = effective_to
      
  });

  

</script>
