<script>

    $(document).ready(function () {
      $('.sidebar-remain-open').click();
    });

</script>
<div class="table-responsive main-client-listing">
  <div id="client-message"></div>
  <div>
    <h4 class="no-margin" id="date_error_msg" style="color:#FF0000;display:none">End date should not be less than the start date</h4>
    <h4 class="no-margin" id="date_range_error_msg" style="color:#FF0000;display:none">Please select a maximum of 31 days within your date range</h4>
  </div>
  <table class="table hover table-dark" id="phasewise-reports">
    <caption>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <span class="pull-left lead-text">
            <%="PhasewiseReport"%>
          </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <%= text_field_tag :start_date, "", placeholder: 'Start Date', required: true, class: "form-control input-md start_date_time" %>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <%= text_field_tag :end_date, "", placeholder: 'End Date', required: true, class: "form-control input-md end_date_time" %>
      </div>
     
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <button class="btn btn-primary btn-flat submit" id="submit_data" type="submit">Show Report</button>
      </div>
      
    </caption>
    </table>
    
  <div class="tab-container">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#division-loading-info" id="division-loading-tab" data-toggle="tab">DIVN(LD)</a>
      </li>
      <li>
        <a href="#adi-area-loading-info" id="adi-area-loading-tab" data-toggle="tab">ADI(LD)</a>
      </li>
      <li>
        <a href="#gimb-area-loading-info" id="gimb-area-loading-tab" data-toggle="tab">GIMB(LD)</a>
      </li>
      <li>
        <a href="#division-unloading-info" id="division-unloading-tab" data-toggle="tab">DIVN(PU)</a>
      </li>
      <li>
        <a href="#adi-area-unloading-info" id="adi-area-unloading-tab" data-toggle="tab">ADI(PU)</a>
      </li>
      <li>
        <a href="#gimb-area-unloading-info" id="gimb-area-unloading-tab" data-toggle="tab">GIMB(PU)</a>
      </li>
      <li>
        <a href="#total-division-info" id="total-division-tab" data-toggle="tab">Division</a>
      </li>
      <li>
        <a href="#total-adi-info" id="total-adi-tab" data-toggle="tab">ADI</a>
      </li>
      <li>
        <a href="#total-gimb-info" id="total-gimb-tab" data-toggle="tab">GIMB</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="division-loading-info" class="tab-pane active cont">
        <%=render 'division_listing'%>
        <div id="division_load_form"></div>
      </div>
      <div id="adi-area-loading-info" class="tab-pane cont">
        <%=render 'adi_listing'%>
        <div id="adi_load_form"></div>
      </div>
      <div id="gimb-area-loading-info" class="tab-pane cont">
        <%=render 'gimb_listing'%>
        <div id="gimb_load_form"></div>
      </div>
      <div id="division-unloading-info" class="tab-pane cont">
        <%=render 'division_unloading'%>
        <div id="division_unload_form"></div>
      </div>
      <div id="adi-area-unloading-info" class="tab-pane cont">
        <%=render 'adi_unloading'%>
        <div id="adi_unload_form"></div>
      </div>
      <div id="gimb-area-unloading-info" class="tab-pane cont">
        <%=render 'gimb_unloading'%>
        <div id="gimb_unload_form"></div>
      </div>
      <div id="total-division-info" class="tab-pane cont">
        <%=render 'total_division'%>
        <div id="total_division_load_form"></div>
      </div>
      <div id="total-adi-info" class="tab-pane cont">
        <%=render 'total_adi'%>
        <div id="total_adi_load_form"></div>
      </div>
      <div id="total-gimb-info" class="tab-pane cont">
        <%=render 'total_gimb'%>
        <div id="total_gimb_load_form"></div>
      </div>
      <div id="loading-indicator">
        <%#= image_tag("728.GIF", :id => "loading-indicator") %>
      </div>
    </div>
  </div>
  

</div>





<script>
  

  var old_from_date = '<%=Date.today.strftime("%d/%m/%Y")%>';
  var old_to_date = '<%=Date.today.strftime("%d/%m/%Y")%>';
  $(".start_date_time").datepicker({
      format: 'dd-mm-yyyy',
      autoclose: true
    }).on('change.dp', function (e) {
      if($("#end_date").val() != ""){
        date_validation();
      }else{
        $("#submit_data").prop('disabled', false);
      }
    });

    $(".end_date_time").datepicker({
      format: 'dd-mm-yyyy',
      autoclose: true
    }).on('change.dp', function (e) {
      if($("#start_date").val() != ""){
        date_validation();
      }else{
        $("#date_range_error_msg").css('display','none');
        $("#submit_data").prop('disabled', false);
      }
    });

    function date_validation(){
      s_date = $("#start_date").val().split("-");
      start_date = new Date(s_date[2], s_date[1] - 1, s_date[0]);
      e_date = $("#end_date").val().split("-");
      end_date = new Date(e_date[2], e_date[1] - 1, e_date[0]);
      no_of_days = Math.abs(Math.round((end_date-start_date)/(1000*60*60*24)) + 1)
      if (end_date < start_date){
        $("#submit_data").prop('disabled', true);
        $("#date_range_error_msg").css('display','none');
        $("#date_error_msg").css('display','');
      }
      else if (no_of_days > 31){
        $("#submit_data").prop('disabled', true);
        $("#date_error_msg").css('display','none');
        $("#date_range_error_msg").css('display','');
      }
      else{
        $("#date_range_error_msg").css('display','none');
        $("#date_error_msg").css('display','none');
        $("#submit_data").prop('disabled', false);
      }

    }

  $(".submit").click(function () {
    effective_from = $("#start_date").val();
    effective_to = $("#end_date").val();
      $.ajax({
        type: "get",
        url: "/admin/phasewise_reports.js?from_date=" + effective_from + "&to_date=" + effective_to
      });
      old_from_date = effective_from 
      old_to_date = effective_to
      
  });

  

</script>
