<div style="width:75%;text-align:right;"><b>Click To Add Training:</b>
    <a href="#" style = "height: 24px;padding: 2px 7px", class="btn btn-primary add-training-detail", id="add_training_detail"><i class="fa fa-plus"></i>AddNew</a>
</div>
<div class="table-responsive">
  <div style="width:75%;">  
  	<table class="table table-sm" id="employee-training-details">
  	<thead>
	    <tr style="color: #fff; background: #4B4B4D;">
	      <th>Sr</th>
        <th>Type</th>
	      <th>Station</th>
	      <th>TrainingDate</th>
        <th>Letter No.</th>
	      <th>ResumeDate</th>
        <th>Remark</th>
        <th>Action</th>
  		</tr>
  	</thead>
  	<tbody>
  		<%if @employee_training_details_data.present?%>
        <%@employee_training_details_data.each_with_index do |data,index|%>
          <tr class="add-training-tr add_training_row_<%= data.id %>", id= "add_training_row_id_<%= data.id %>">
            <td><%=index+1%></td>
            <td><%=data.training_type%></td>
            <td><%=data.station.code%></td>
            <td><%=data.training_date.strftime('%d-%m-%y') rescue nil%></td>
            <td><%=data.letter_number%></td>
            <td><%=data.resume_date.strftime('%d-%m-%y') rescue nil%></td>
            <td><%=data.remark%></td>
            <td id="training_id_<%=data.id%>"><a href="#" class="remove-ip label label-danger add-training-danger" id="<%= data.id %>" style="padding: 12%;"><i class="fa fa-trash-o"></i></a></td>
          </tr> 
        <%end%>
      <%end%>
  	</tbody>
  	</table>	

  </div>
</div>
<!-- Add Training Detail Modal html code start -->
<div class="modal fade colored-header add-training-modal" id="add_training_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 550px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add Training Detail:</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" id="add-training-div">
      <form id="add-training-form">  
        <table>
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Type</td>
            <td>
              <%= (select_tag "training_type", options_for_select([["Schedule","Schedule"],["Initial","Initial"],["Promotion","Promotion"],["Mutual","Mutual"],["OwnRequest","OwnRequest"],["MedicalDecategorised","MedicalDecategorised"],["Surplus","Surplus"],["Administrative","Administrative"]]), {prompt: 'Select',required: true, class: "form-control  input-sm training_type"}).html_safe %>
            </td>
          </tr>
          <tr>  
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Station</td>
            <td>
              <%= (select_tag "add_training_station", options_for_select(@employee_station_list), {prompt: 'Select',required: true, class: "form-control  input-sm add_training_station"}).html_safe %>
            </td>
          </tr>
          <tr>    
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Training Date</td>
            <td>
              <%= text_field_tag "training_date",'', type: 'date',placeholder: 'DOB', id: "training_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
          </tr>  
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Letter No.:</td>
            <td><%= text_field_tag "training_letter_number", '',placeholder: 'Enter Letter Number', id: "training_letter_number", class: 'form-control input-md training_letter_number',required: true,pattern: "^[a-zA-Z0-9-/().]+$", style: "font-size:14px;"%></td>
          </tr>
          <tr>    
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Resume Date</td>
            <td>
              <%= text_field_tag "training_resume_date",'', type: 'date',placeholder: 'Date', id: "training_resume_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
          </tr>  
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Remark</td>
            <td>
              <%= text_area_tag "training_remark", '', placeholder: 'Enter Remark if any', id: "training_remark", class: 'form-control input-md training_remark',required: true, pattern: "^[a-zA-Z0-9-/().,]+$",style: "height:80px;font-size:14px;"%>
            </td>
          </tr>
        </table>
        <br>
        <button class="btn btn-primary btn-flat employee-training-save" ><i class="fa fa-check save" onclick="return validateForm(this)"></i>Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b class= "form-group add_training_error" id="add_training_error" style="display: none"></b>
      </form>    
      </div>
    </div>
  </div>
</div>

<!-- Add Training Detail Modal html code ends -->
<!-- Add Training Delete- Modal html code starts -->
<div class="modal fade colored-header" id="add-training-delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 350px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>You really want to delete this Training?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" align="center">
          <input type="button" class="btn btn-danger btn-lg" value="Delete" id="confirm_add_training_delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" class="btn btn-default btn-lg" data-dismiss="modal" value="Cancel"id="cancel">
     
     </div>
    </div>
  </div>
</div>


<!-- Add Training Delete- Modal html code ends -->

<script>
  $(function(){
    $('.add-training-detail').on('click',function(){
      $("#add_training_modal").modal('show');
    });  

    $(".employee-training-save").on('click',function(){
        employee_id = $("#record_id").val();
        emp_training_type = $("#training_type").val();
        emp_station_id = $("#add_training_station").val();
        emp_training_date = $("#training_date").val();
        emp_training_letter_number = $("#training_letter_number").val();
        emp_training_resume_date = $("#training_resume_date").val();
        emp_add_training_remark = $("#training_remark").val();

      if (emp_station_id!="" && emp_training_type!="" && emp_training_date!="" && emp_training_resume_date!="" && emp_training_letter_number!="") {  
        $.ajax({
          type: "post",
          url: "/admin/employees.js?emp_station_id=" + emp_station_id + "&is_add_employee_training=" + "true"+ "&employee_id="+ employee_id + "&emp_training_type=" + emp_training_type + "&emp_training_date=" +emp_training_date+"&emp_training_resume_date="+emp_training_resume_date +"&emp_training_letter_number="+emp_training_letter_number + "&emp_add_training_remark=" + emp_add_training_remark
        });
        $(".add_training_error").hide();
        $("#add_training_modal").find('.close').click();
      }
      else{
        var error_msg ="Select All Feilds"
        $("#add_training_error").text(error_msg).css({'color': 'red', 'background-color': 'yellow', 'font-weight' : 'bold'});
        
        $(".add_training_error").show();
      }  

    });

    $(".add-training-danger").on('click',function(){
      delete_training_detail_id = $(this).attr('id')
      $("#add-training-delete-modal").modal('show');
    });

    $("#confirm_add_training_delete").click(function () {
      $("#add-training-delete-modal").modal('hide');
      remove_row = "#add_training_row_id_"+delete_training_detail_id
      $(remove_row).remove('');
      
      if (delete_training_detail_id != "") {
        $.ajax({
          type: "get",
          url: "/delete_employee_training_detail.js?delete_training_detail_id=" + delete_training_detail_id
        });
      }
    });


  }); 

  $(document).on('hidden.bs.modal','#add_training_modal', function () {
    $("#add_training_station").val("");
    $("#training_type").val("");
    $("#training_date").val("");
    $("#training_remark").val("");
    $("#training_letter_number").val("");
		$("#training_resume_date").val("");
    $(".add_training_error").hide();

  });

</script>