<div style="width:90%;text-align:right;"><b>Click To Add Medical:</b>
    <a href="#" style = "height: 24px;padding: 2px 7px", class="btn btn-primary add-medical-detail", id="add_medical_detail"><i class="fa fa-plus"></i>AddNew</a>
</div>
<div class="table-responsive">
  <div style="width:90%;">  
  	<table class="table table-sm" id="employee-medical-details">
  	<thead>
	    <tr style="color: #fff; background: #4B4B4D;">
	      <th>Sr</th>
        <th>Emp Category</th>
	      <th>Type</th>
	      <th>Category</th>
        <th>Medical Date</th>
        <th>Fit Date</th>
        <th>Next Due Date</th>
        <th>CertificateNo</th>
        <th>Medical Done At</th>
        <th>Remark</th>
        <th>Action</th>
  		</tr>
  	</thead>
  	<tbody>
  		<%if @employee_medical_details_data.present?%>
        <%@employee_medical_details_data.each_with_index do |data,index|%>
          <tr class="add-medical-tr add_medical_row_<%= data.id %>", id= "add_medical_row_id_<%= data.id %>">
            <td><%=index+1%></td>
            <td><%=data.employee_category.name%></td>
            <td><%=data.medical_type%></td>
            <td><%=data.medical_category%></td>
            <td><%=data.medical_date.strftime('%d-%m-%y')%></td>
            <td><%=data.fit_date.strftime('%d-%m-%y')%></td>
            <td><%=data.next_due_date.strftime('%d-%m-%y') rescue nil%></td>
            <td><%=data.certificate_no rescue nil%></td>
            <td><%=data.issued_by%></td>
            <td><%=data.remark%></td>
            <td id="medical_id_<%=data.id%>"  style="text-align: center;vertical-align: middle;"><a href="#" class="remove-ip label label-danger add-medical-danger" id="<%= data.id %>" style="padding: 12%;"><i class="fa fa-trash-o"></i></a></td>
          </tr> 
        <%end%>
      <%end%>
  	</tbody>
  	</table>	

  </div>
</div>
<!-- Add Medical Detail Modal html code start -->
<div class="modal fade colored-header add-medical-modal" id="add_medical_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 650px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add Medical Detail:</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" id="add-medical-div">
      <form id="add-medical-form">  
        <table>
          <tr>  
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Category:</td>
            <td>
              <%= (select_tag "medical_employee_category", options_for_select(@employee_category_list), {prompt: 'Select',required: true, class: "form-control  input-sm medical_employee_category"}).html_safe %>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Type:</td>
            <td>
              <%= (select_tag "medical_type", options_for_select([["Initial","Initial"],["Periodic","Periodic"],["Special","Special"],["Other","Other"]]), {prompt: 'Select',required: true, class: "form-control  input-sm medical_type"}).html_safe %>
            </td>
          </tr>
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Medical Category:</td>
            <td>
              <%= (select_tag "medical_category", options_for_select([["A1","A1"],["A2","A2"],["A3","A3"],["B1","B1"],["B2","B2"],["B3","B3"],["C1","C1"],["C2","C2"],["C3","C3"]]), {prompt: 'Select',required: true, class: "form-control  input-sm medical_category"}).html_safe %>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;height: 1px;">Medical Date:</td>
            <td>
              <%= text_field_tag "medical_date",'', type: 'date',placeholder: 'Medical Date', id: "medical_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
          </tr>
          <tr>    
            <td style="color: #fff; background: #4B4B4D;text-align: center;height: 1px;">Fit Date:</td>
            <td>
              <%= text_field_tag "medical_fit_date",'', type: 'date',placeholder: 'FitDate', id: "medical_fit_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Due Date:</td>
            <td>
              <%= text_field_tag "medical_due_date",'', type: 'date',placeholder: 'Date', id: "medical_due_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
          </tr>  
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Certificate No.:</td>
            <td><%= text_field_tag "medical_certificate_no", '',placeholder: 'Certificate Number', id: "medical_certificate_no", class: 'form-control input-md medical_certificate_no',required: true,pattern: "^[a-zA-Z0-9-/().]+$", style: "font-size:14px;"%></td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Medical Done At:</td>
            <td>
              <%= (select_tag "medical_done_at", options_for_select([["ADI","ADI"],["SBI","SBI"],["MSH","MSH"],["PNU","PNU"],["GIM","GIM"]]), {prompt: 'Select',required: true, class: "form-control  input-sm medical_done_at"}).html_safe %>
            </td>
          </tr>  
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Remark:</td>
            <td colspan="3">
              <%= text_area_tag "medical_remark", '', placeholder: 'Enter Remark if any', id: "medical_remark", class: 'form-control input-md medical_remark', pattern: "^[a-zA-Z0-9-/().,]+$",style: "height:70px;font-size:14px;"%>
            </td>
          </tr>
        </table>
        <br>
        <button class="btn btn-primary btn-flat employee-medical-save" ><i class="fa fa-check save" onclick="return validateForm(this)"></i>Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b class= "form-group add_medical_error" id="add_medical_error" style="display: none"></b>
      </form>    
      </div>
    </div>
  </div>
</div>

<!-- Add Medical Detail Modal html code ends -->
<!-- Add Medical Delete- Modal html code starts -->
<div class="modal fade colored-header" id="add-medical-delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 350px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>You really want to delete this Medical?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" align="center">
          <input type="button" class="btn btn-danger btn-lg" value="Delete" id="confirm_add_medical_delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" class="btn btn-default btn-lg" data-dismiss="modal" value="Cancel"id="cancel">
     
     </div>
    </div>
  </div>
</div>


<!-- Add Medical Delete- Modal html code ends -->

<script>
  $(function(){
    $('.add-medical-detail').on('click',function(){
      $("#add_medical_modal").modal('show');
    });  

    $(".employee-medical-save").on('click',function(){
        employee_id = $("#record_id").val();
        emp_medical_employee_category_id = $("#medical_employee_category").val();
        emp_medical_type = $("#medical_type").val();
        emp_medical_category = $("#medical_category").val();
        emp_medical_date = $("#medical_date").val();
        emp_medical_fit_date = $("#medical_fit_date").val();
        emp_medical_due_date = $("#medical_due_date").val();
        emp_medical_certificate_no = $("#medical_certificate_no").val();
        emp_medical_done_at = $("#medical_done_at").val();
        emp_medical_remark = $("#medical_remark").val();

      if (emp_medical_employee_category_id!= "" && emp_medical_type!= "" && emp_medical_category!= "" && emp_medical_date!= "" && emp_medical_fit_date!= "" && emp_medical_due_date!= "" && emp_medical_certificate_no!= "" && emp_medical_done_at!= "") {  
        $.ajax({
          type: "post",
          url: "/admin/employees.js?is_add_employee_medical=" + "true"+ "&employee_id="+ employee_id + "&emp_medical_employee_category_id=" + emp_medical_employee_category_id + "&emp_medical_type=" + emp_medical_type + "&emp_medical_category=" + emp_medical_category + "&emp_medical_date=" + emp_medical_date + "&emp_medical_fit_date=" + emp_medical_fit_date + "&emp_medical_due_date=" + emp_medical_due_date + "&emp_medical_certificate_no=" + emp_medical_certificate_no + "&emp_medical_done_at=" + emp_medical_done_at +"&emp_medical_remark=" + emp_medical_remark
        });
        $(".add_medical_error").hide();
        $("#add_medical_modal").find('.close').click();
      }
      else{
        var error_msg ="Select All Feilds"
        $("#add_medical_error").text(error_msg).css({'color': 'red', 'background-color': 'yellow', 'font-weight' : 'bold'});
        
        $(".add_medical_error").show();
      }  

    });

    $(".add-medical-danger").on('click',function(){
      delete_medical_detail_id = $(this).attr('id')
      $("#add-medical-delete-modal").modal('show');
    });

    $("#confirm_add_medical_delete").click(function () {
      $("#add-medical-delete-modal").modal('hide');
      remove_row = "#add_medical_row_id_"+delete_medical_detail_id
      $(remove_row).remove('');
      
      if (delete_medical_detail_id != "") {
        $.ajax({
          type: "get",
          url: "/delete_employee_medical_detail.js?delete_medical_detail_id=" + delete_medical_detail_id
        });
      }
    });


  }); 

  $(document).on('hidden.bs.modal','#add_medical_modal', function () {
    $("#medical_employee_category").val("");
    $("#medical_type").val("");
    $("#medical_category").val("");
    $("#medical_date").val("");
    $("#medical_fit_date").val("");
    $("#medical_due_date").val("");
    $("#medical_certificate_no").val("");
    $("#medical_done_at").val("");
    $("#medical_remark").val("");
    $(".add_medical_error").hide();

  });

</script>