<div style="width:90%;text-align:right;"><b>Click To Add Training:</b>
    <a href="#" style = "height: 24px;padding: 2px 7px", class="btn btn-primary add-training-detail", id="add_training_detail"><i class="fa fa-plus"></i>AddNew</a>
</div>
<div class="table-responsive">
  <div style="width:90%;">  
  	<table class="table table-sm" id="employee-training-details">
  	<thead>
	    <tr style="color: #fff; background: #4B4B4D;">
	      <th>Sr</th>
        <th>From Date</th>
	      <th>TO Date</th>
	      <th>Category</th>
        <th>Type</th>
	      <th>CertificateNo</th>
        <th>GradeRecd</th>
        <th>Center</th>
        <th>DueDate</th>
        <th>Remark</th>
        <th>Action</th>
  		</tr>
  	</thead>
  	<tbody>
  		<%if @employee_training_details_data.present?%>
        <%@employee_training_details_data.each_with_index do |data,index|%>
          <tr class="add-training-tr add_training_row_<%= data.id %>", id= "add_training_row_id_<%= data.id %>">
            <td><%=index+1%></td>
            <td><%=data.start_date.strftime('%d-%m-%y')%></td>
            <td><%=data.end_date.strftime('%d-%m-%y')%></td>
            <td><%=data.employee_category.name%></td>
            <td><%=data.training_type%></td>
            <td><%=data.certificate_no rescue nil%></td>
            <td><%=data.grade_received%></td>
            <td><%=data.training_center%></td>
            <td><%=data.next_due_date.strftime('%d-%m-%y') rescue nil%></td>
            <td><%=data.remark%></td>
            <td id="training_id_<%=data.id%>" style="text-align: center;vertical-align: middle;"><a href="#" class="remove-ip label label-danger add-training-danger" id="<%= data.id %>" style="padding: 12%;"><i class="fa fa-trash-o"></i></a></td>
          </tr> 
        <%end%>
      <%end%>
  	</tbody>
  	</table>	

  </div>
</div>
<!-- Add Training Detail Modal html code start -->
<div class="modal fade colored-header add-training-modal" id="add_training_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 650px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add Training Detail:</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" id="add-training-div">
      <form id="add-training-form">  
        <table>
          <tr>    
            <td style="color: #fff; background: #4B4B4D;text-align: center;height: 1px;">From Date</td>
            <td>
              <%= text_field_tag "training_start_date",'', type: 'date',placeholder: 'StartDate', id: "training_start_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">To Date</td>
            <td>
              <%= text_field_tag "training_end_date",'', type: 'date',placeholder: 'EndDate', id: "training_end_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
          </tr>  
          <tr>  
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Category</td>
            <td>
              <%= (select_tag "training_category", options_for_select(@employee_category_list), {prompt: 'Select',required: true, class: "form-control  input-sm training_category"}).html_safe %>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Type</td>
            <td>
              <%= (select_tag "training_type", options_for_select([["Initial","Initial"],["Promotion","Promotion"],["Refresher","Refresher"],["Other","Other"]]), {prompt: 'Select',required: true, class: "form-control  input-sm training_type"}).html_safe %>
            </td>
          </tr>
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Certificate No.:</td>
            <td><%= text_field_tag "training_certificate_no", '',placeholder: 'Certificate Number', id: "training_certificate_no", class: 'form-control input-md training_certificate_no',required: true,pattern: "^[a-zA-Z0-9-/().]+$", style: "font-size:14px;"%></td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Grade Recd:</td>
            <td><%= text_field_tag "training_grade", '',placeholder: 'Grade', id: "training_grade", class: 'form-control input-md training_grade',required: true,pattern: "^[a-zA-Z0-9-/().]+$", style: "font-size:14px;"%></td>
          </tr>
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Trng. Center:</td>
            <td><%= text_field_tag "training_center", '',placeholder: 'Center', id: "training_center", class: 'form-control input-md training_center',required: true,pattern: "^[a-zA-Z0-9-/().]+$", style: "font-size:14px;"%></td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Due Date</td>
            <td>
              <%= text_field_tag "training_due_date",'', type: 'date',placeholder: 'Date', id: "training_due_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
          </tr>  
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Remark</td>
            <td colspan="3">
              <%= text_area_tag "training_remark", '', placeholder: 'Enter Remark if any', id: "training_remark", class: 'form-control input-md training_remark', pattern: "^[a-zA-Z0-9-/().,]+$",style: "height:70px;font-size:14px;"%>
            </td>
          </tr>
        </table>
        <br>
        <button class="btn btn-primary btn-flat employee-training-save" ><i class="fa fa-check save" onclick="return validateForm(this)"></i>Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b class= "form-group add_training_error" id="add_training_error" style="display: none"></b>
      </form>    
      </div>
    </div>
  </div>
</div>

<!-- Add Training Detail Modal html code ends -->
<!-- Add Training Delete- Modal html code starts -->
<div class="modal fade colored-header" id="add-training-delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 350px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>You really want to delete this Training?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" align="center">
          <input type="button" class="btn btn-danger btn-lg" value="Delete" id="confirm_add_training_delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" class="btn btn-default btn-lg" data-dismiss="modal" value="Cancel"id="cancel">
     
     </div>
    </div>
  </div>
</div>


<!-- Add Training Delete- Modal html code ends -->

<script>
  $(function(){
    $('.add-training-detail').on('click',function(){
      $("#add_training_modal").modal('show');
    });  

    $(".employee-training-save").on('click',function(){
        employee_id = $("#record_id").val();
        emp_training_start_date = $("#training_start_date").val();
        emp_training_end_date = $("#training_end_date").val();
        emp_training_type = $("#training_type").val();
        emp_training_category_id = $("#training_category").val();
        emp_training_due_date = $("#training_due_date").val();
        emp_training_certificate_no = $("#training_certificate_no").val();
        emp_training_grade = $("#training_grade").val();
        emp_training_center = $("#training_center").val();
        emp_training_remark = $("#training_remark").val();

      if (emp_training_start_date!="" && emp_training_end_date!="" && emp_training_type!="" && emp_training_category_id!="" && emp_training_due_date!="" && emp_training_certificate_no!="" && emp_training_grade!=""&& emp_training_center!="") {  
        $.ajax({
          type: "post",
          url: "/admin/employees.js?emp_training_start_date=" + emp_training_start_date + "&is_add_employee_training=" + "true"+ "&employee_id="+ employee_id + "&emp_training_end_date=" + emp_training_end_date + "&emp_training_type=" +emp_training_type+"&emp_training_category_id="+emp_training_category_id +"&emp_training_due_date="+emp_training_due_date+"&emp_training_certificate_no="+emp_training_certificate_no + "&emp_training_grade=" + emp_training_grade+ "&emp_training_center=" + emp_training_center+ "&emp_training_remark=" + emp_training_remark
        });
        $(".add_training_error").hide();
        $("#add_training_modal").find('.close').click();
      }
      else{
        var error_msg ="Select All Feilds"
        $("#add_training_error").text(error_msg).css({'color': 'red', 'background-color': 'yellow', 'font-weight' : 'bold'});
        
        $(".add_training_error").show();
      }  

    });

    $(".add-training-danger").on('click',function(){
      delete_training_detail_id = $(this).attr('id')
      $("#add-training-delete-modal").modal('show');
    });

    $("#confirm_add_training_delete").click(function () {
      $("#add-training-delete-modal").modal('hide');
      remove_row = "#add_training_row_id_"+delete_training_detail_id
      $(remove_row).remove('');
      
      if (delete_training_detail_id != "") {
        $.ajax({
          type: "get",
          url: "/delete_employee_training_detail.js?delete_training_detail_id=" + delete_training_detail_id
        });
      }
    });


  }); 

  $(document).on('hidden.bs.modal','#add_training_modal', function () {
    $("#training_start_date").val("");
    $("#training_end_date").val("");
    $("#training_type").val("");
    $("#training_category").val("");
    $("#training_due_date").val("");
    $("#training_certificate_no").val("");
    $("#training_grade").val("");
    $("#training_center").val("");
    $("#training_remark").val("");
    $(".add_training_error").hide();


  });

</script>