<div style="width:auto;text-align:right;"><b>Click To Add Dar:</b>
    <a href="#" style = "height: 24px;padding: 2px 7px", class="btn btn-primary add-dar-detail", id="add_dar_detail"><i class="fa fa-plus"></i>AddNew</a>
</div>
<div class="table-responsive">
  <div style="width:auto;">  
    <table class="table table-sm" id="employee-dar-details">
    <thead>
      <tr style="color: #fff; background: #4B4B4D;">
        <th>Sr</th>
        <th>Type</th>
        <th>Issue Date</th>
        <th>Date Redc At Stn.</th>
        <th>Emp Ackn. Date</th>
        <th>Defense Submit Date</th>
        <th>Defense Ackn. sent to DAR Date</th>
        <th>NIP Received Date</th>
        <th>NIP Ackn. sent to DAR Date</th>
        <th>SF-7 Issue Date</th>
        <th>Finding Report Issue Date</th>
        <th>Finding Report Ackn. Date</th>
        <th>Remark</th>
        <th>Edit_Delete</th>
      </tr>
    </thead>
    <tbody>
      <%if @employee_dar_details_data.present?%>
        <%@employee_dar_details_data.each_with_index do |data,index|%>
          <tr class="add-dar-tr add_dar_row_<%= data.id %>", id= "add_dar_row_id_<%= data.id %>">
            <td><%=index+1%></td>
            <td style="text-overflow: ellipsis;"><%=data.dar_type%></td>
            <td><%=data.issue_date.strftime('%d/%m/%y') rescue nil%></td>
            <td><%=data.received_at_station.strftime('%d/%m/%y') rescue nil%></td>
            <td><%=data.acknowledge_by_employee.strftime('%d/%m/%y') rescue nil%></td>
            <td><%=data.defense_submit_by_employee.strftime('%d/%m/%y') rescue nil%></td>
            <td><%=data.employee_defense_sent_to_dar.strftime('%d/%m/%y') rescue nil%></td>
            <td><%=data.nip_received_date.strftime('%d/%m/%y') rescue nil%></td>
            <td><%=data.nip_acknowledge_sent_to_dar.strftime('%d/%m/%y') rescue nil%></td>
            <td><%=data.sf_7_issue.strftime('%d/%m/%y') rescue nil%></td>
            <td><%=data.finding_report_issue_date.strftime('%d/%m/%y') rescue nil%></td>
            <td><%=data.acknowledge_finding_report.strftime('%d/%m/%y') rescue nil%></td>
            <td style="max-width: 400px;"><%=data.remark%></td>
            <td id="dar_id_<%=data.id%>" style="text-align: center;vertical-align: middle;">
              <a href="#"class="label label-default add-dar-edit" id="<%= data.id %>" ><i class="fa fa fa-pencil"></i></a>
              <a href="#" class="remove-ip label label-danger add-dar-danger" id="<%= data.id %>" ><i class="fa fa-trash-o"></i></a>
            </td>
          </tr> 
        <%end%>
      <%end%>
    </tbody>
    </table>  

  </div>
</div>
<!-- Add Dar Detail Modal html code start -->

<div class="modal fade colored-header add-dar-modal" id="add_dar_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add Dar Detail:</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" id="add-dar-div">
      <%= form_tag(@url, method: @method, class: 'form-horizontal', id: 'add-dar-form',remote: true) do |form| %>
        <table>
            <%= hidden_field_tag  "dar_rec_id", "", id: "dar_rec_id" %>  
            <%= hidden_field_tag  "is_add_employee_dar", true, id: "is_add_employee_dar" %>  
            <%= hidden_field_tag  "dar_employee_id", "", id: "dar_employee_id" %>  
          <tr>

            <td style="color: #fff; background: #4B4B4D;text-align: center;">Type</td>
            <td>
              <%= hidden_field_tag  "emp_dar_record_id", "", id: "emp_dar_record_id" %>
              <%= (select_tag "dar_type", options_for_select([["Recorded-Warning-(Minor)","Recorded-Warning-(Minor)"],["SF11-(Minor)","SF11-(Minor)"],["SF5-(Major)","SF5-(Major)"]]), {prompt: 'Select',required: true, class: "form-control  input-sm dar_type"}).html_safe %>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Issue Date</td>
            <td>
              <%= text_field_tag "dar_issue_date",'', type: 'date',placeholder: 'Date', id: "dar_issue_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
          </tr>
          <tr>    
            <td style="color: #fff; background: #4B4B4D;text-align: center;height: 1px;">Date Recd At Stn.</td>
            <td>
              <%= text_field_tag "received_at_station_date",'', type: 'date',placeholder: 'Date', id: "received_at_station_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Emp Ackn. Date</td>
            <td>
              <%= text_field_tag "employee_acknowledge_date",'', type: 'date',placeholder: 'Date', id: "employee_acknowledge_date", class: 'form-control input-md',required: true, style: "width: 100%;"%>
            </td>
          </tr> 
          <tr>    
            <td style="color: #fff; background: #4B4B4D;text-align: center;height: 1px;">Defense Submit Date </td>
            <td>
              <%= text_field_tag "defense_submit_by_employee_date",'', type: 'date',placeholder: 'Date', id: "defense_submit_by_employee_date", class: 'form-control input-md', style: "width: 100%;"%>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Defense Ackn. sent to DAR Date </td>
            <td>
              <%= text_field_tag "defense_acknowledge_sent_to_dar_date",'', type: 'date',placeholder: 'Date', id: "defense_acknowledge_sent_to_dar_date", class: 'form-control input-md', style: "width: 100%;"%>
            </td>
          </tr>
          <tr>    
            <td style="color: #fff; background: #4B4B4D;text-align: center;height: 1px;">NIP Received Date </td>
            <td>
              <%= text_field_tag "nip_received_date",'', type: 'date',placeholder: 'Date', id: "nip_received_date", class: 'form-control input-md', style: "width: 100%;"%>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">NIP Ackn. sent to DAR Date </td>
            <td>
              <%= text_field_tag "nip_acknowledge_sent_to_dar_date",'', type: 'date',placeholder: 'Date', id: "nip_acknowledge_sent_to_dar_date", class: 'form-control input-md', style: "width: 100%;"%>
            </td>
          </tr>
          <tr>    
            <td style="color: #fff; background: #4B4B4D;text-align: center;height: 1px;">SF-7 Issue Date </td>
            <td>
              <%= text_field_tag "sf_7_issue_date",'', type: 'date',placeholder: 'Date', id: "sf_7_issue_date", class: 'form-control input-md', style: "width: 100%;"%>
            </td>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Finding Report Issue Date </td>
            <td>
              <%= text_field_tag "finding_report_issue_date",'', type: 'date',placeholder: 'Date', id: "finding_report_issue_date", class: 'form-control input-md', style: "width: 100%;"%>
            </td>
          </tr>
          <tr>    
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Ackn. Date Finding Report</td>
            <td>
              <%= text_field_tag "acknowledge_finding_report",'', type: 'date',placeholder: 'Date', id: "acknowledge_finding_report", class: 'form-control input-md', style: "width: 100%;"%>
            </td>
           
          </tr>
          <tr>
            <td style="color: #fff; background: #4B4B4D;text-align: center;">Remark</td>
            <td colspan="3">
              <%= text_area_tag "dar_remark", '', placeholder: 'Enter Remark if any', id: "dar_remark", class: 'form-control input-md dar_remark', pattern: "^[a-zA-Z0-9-/().,]+$",style: "height:80px;font-size:14px;"%>
            </td>
          </tr>
        </table>
        <br>
        <button class="btn btn-primary btn-flat employee-dar-save"  type="submit"><i class="fa fa-check save" onclick="return validateForm(this)"></i>Save</button>
      <% end %>    
      </div>
    </div>
  </div>
</div>



<!-- Add Dar Modal html code ends -->
<!-- Add Dar Delete- Modal html code starts -->
<div class="modal fade colored-header" id="add-dar-delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 350px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>You really want to delete this Dar?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" align="center">
          <input type="button" class="btn btn-danger btn-lg" value="Delete" id="confirm_add_dar_delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" class="btn btn-default btn-lg" data-dismiss="modal" value="Cancel"id="cancel">
     
     </div>
    </div>
  </div>
</div>


<!-- Add Dar Delete- Modal html code ends -->

<script>
  $(function(){ 
    $('.add-dar-detail, .add-dar-edit').on('click',function(){
      if ($(this).attr('id') != "add_dar_detail") {
        dar_edit_id = ".add_dar_row_"+$(this).attr('id');
      }
      else{
        dar_edit_id = ""
      }
      if (dar_edit_id != "") {
        dar_record_id = $(this).attr('id');
        $("#dar_rec_id").val($(this).attr('id'));
        $(dar_type).val($(dar_edit_id).find('td:eq(1)').html());
        $(dar_issue_date).val(moment($(dar_edit_id).find('td:eq(2)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(received_at_station_date).val(moment($(dar_edit_id).find('td:eq(3)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(employee_acknowledge_date).val(moment($(dar_edit_id).find('td:eq(4)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(defense_submit_by_employee_date).val(moment($(dar_edit_id).find('td:eq(5)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(defense_acknowledge_sent_to_dar_date).val(moment($(dar_edit_id).find('td:eq(6)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(nip_received_date).val(moment($(dar_edit_id).find('td:eq(7)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(nip_acknowledge_sent_to_dar_date).val(moment($(dar_edit_id).find('td:eq(8)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(sf_7_issue_date).val(moment($(dar_edit_id).find('td:eq(9)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(finding_report_issue_date).val(moment($(dar_edit_id).find('td:eq(10)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(acknowledge_finding_report).val(moment($(dar_edit_id).find('td:eq(11)').html(), "DD-MM-YYYY").format("YYYY-MM-DD"));
        $(dar_remark).val($(dar_edit_id).find('td:eq(12)').html());
      }  

       
      $("#add_dar_modal").modal('show');
    });  
    
    $("#dar_employee_id").val($("#record_id").val());
    $(".employee-dar-save").on('click',function(){
      if ($("#add-dar-form").valid()) {
        $("#add_dar_modal").find('.close').click();
      }
    });

    $(".add-dar-danger").on('click',function(){
      delete_dar_detail_id = $(this).attr('id')
      $("#add-dar-delete-modal").modal('show');
    });

    $("#confirm_add_dar_delete").click(function () {
      $("#add-dar-delete-modal").modal('hide');
      remove_row = "#add_dar_row_id_"+delete_dar_detail_id
      $(remove_row).remove('');
      
      if (delete_dar_detail_id != "") {
        $.ajax({
          type: "get",
          url: "/delete_employee_dar_detail.js?delete_dar_detail_id=" + delete_dar_detail_id
        });
      }
    });


  }); 

  $(document).on('hidden.bs.modal','#add_dar_modal', function () {
   
    $("#emp_dar_record_id").val("");
    $("#dar_type").val("");
    $("#dar_issue_date").val("");
    $("#received_at_station_date").val("");
    $("#employee_acknowledge_date").val("");
    $("#defense_submit_by_employee_date").val("");
    $("#defense_acknowledge_sent_to_dar_date").val("");
    $("#nip_received_date").val("");
    $("#nip_acknowledge_sent_to_dar_date").val("");
    $("#sf_7_issue_date").val("");
    $("#finding_report_issue_date").val("");
    $("#acknowledge_finding_report").val("");
    $("#dar_remark").val("");
   
  });

   
</script>