<div id="load_interchange_reports">
<h3 align="center">Load Interchange Data </h3>
<p id="adi_station_heading" style="font-size: 16px;color:#cc3d16;"></p>

<table class="table hover table-bordered" id="load-interchange-reports">
  <thead class="thead-dark">
    <%if @unitwise_load_interchange_data.present?%>
    	<tr style="color: #fff; background: #4B4B4D;">
    		<th style="vertical-align: middle;"></th>
    		<%@unitwise_load_interchange_data.each do |header,one_data|%>
    			<%@ic_point_count = @unitwise_load_interchange_data["received"].values[0].count%>
	    		<th style="vertical-align: middle;" colspan="<%=@ic_point_count*2%>"><%=header.capitalize%></th>
	    		<th style="vertical-align: middle;" colspan="2"></th>
	    	<%end%>
  	 	</tr>
  	 	<tr style="color: #fff; background: #4B4B4D;">
	    	<th style="vertical-align: middle;"></th>
	    	<%@unitwise_load_interchange_data["received"].values[0].each do |ic_type,data|%>
	    		<th style="vertical-align: middle;" colspan="2"><%=ic_type%></th>
	    	<%end%>
	    		<th style="vertical-align: middle;" colspan="2">Total</th>
    		<%@unitwise_load_interchange_data["despatch"].values[0].each do |ic_type,data|%>
	    		<th style="vertical-align: middle;" colspan="2"><%=ic_type%></th>
	    	<%end%>
	    		<th style="vertical-align: middle;" colspan="2">Total</th>
    	</tr>
	    <tr style="color: #fff; background: #4B4B4D;">
	    	<th style="vertical-align: middle;"></th>	
	    	<%(-1..@ic_point_count*2).each_with_index do |no,index|%>
		    	<th style="vertical-align: middle;">L</th>
		    	<th style="vertical-align: middle;">E</th>
	  		<%end%>	
	  	</tr>
	  <%else%>
	  	<h3>No Data found</h3>	
  	<%end%>
  </thead>
  <tbody>
  	<%if @unitwise_load_interchange_data.present?%>
  		<%temp_data = @unitwise_load_interchange_data%>
      <%stock=[]%>
      <%final_data={}%>
      <%temp_data.each do |header_one,value_one|%>
       	<%temp_data[header_one].each do |header_two,value_two|%>
       		<%temp_data[header_one][header_two].each do |header_three,value_three|%>
       			<%temp_data[header_one][header_two][header_three].each do |header_four,value_four|%>
       				<%stock<<header_four%>
       				<%if final_data.blank?%>
       					<%final_data.merge!("#{header_four}" => [value_four])%>
       				<%else%>
       					<%if final_data.keys.include?(header_four)%>
       						<%final_data[header_four]<<value_four%>
       					<%else%>
       						<%final_data.merge!("#{header_four}" => [value_four])%>
       					<%end%>
       				<%end%>	
       			<%end%>
       		<%end%>
      	<%end%>
      <%end%>
    		<%final_data.each do|stock,data_unit|%>
  				<tr>
     				<td><%=stock%></td>
     				<%data_unit.each do |temp|%>
     					<td><%=(temp.values[0]=={} ? "" : temp.values[0])%></td>
     					<td><%=(temp.values[1]=={} ? "" : temp.values[1])%></td>
     				<%end%>
     			</tr>
     		<%end%>
     		
  	<%end%>
  </tbody>  
</table>
</div>
<script>
  $(function () {
    effective_from = $("#start_date").val();
    effective_to = $("#end_date").val();
    document.getElementById("adi_station_heading").innerHTML="Period From: "+effective_from+" To: "+effective_to;
  });
</script>