<style>
  .no-border tr td, .no-border tr th {
  border-width: 0;
</style>
<div class="tab-container" id="division_listing">
  <table class="no-border head">
    <tr>
      <td style="width:90%;">
        <p style="font-size: 18px;color:red;">Rake :<%=(@total_division_rake)%>&nbsp;&nbsp;Unit :<%=(@total_division_loads)%>&nbsp;&nbsp;</p>
      </td>
      <td style="width:10%; text-align: right;">
        <a href="javascript:void(0);" class="btn btn-primary " style="padding: 4px 9px !important;" id="download-division-loading-daywise">
           <i class="fa fa-download"></i> Excel
        </a>
      </td>
    </tr>
  </table>
  <table class="table hover table-condensed division_listing" id="division-listing">
    <thead class="thead-dark">
      <tr style="color: #fff; background: #4B4B4D;">
        <th>Sr</th>
        <th>FROM</th>
        <th>TO</th>
        <th>Rake</th>
        <th>Units</th>
        <th>Stock</th>
        <th>Commodity</th>
        <th>ODR</th>
        <th>Arrival</th>
        <th>Placement</th>
        <th>Release</th>
        <th>ShortRouteIC</th>
        <th>Short Km</th>
      </tr>
    </thead>
    <tbody>
      <% @rake_loads.each_with_index do |rake_load, index| %>
        <tr id=<%=rake_load.id.to_s%>>
          <td align="center" style="font-size: 15;"><%= index+1 %></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.load_unload.station.code rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.station.code rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.rake_count rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.loaded_unit rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.wagon_type.wagon_type_code rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.major_commodity.major_commodity rescue '' %></span></td>
           <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.odr_type rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.arrival_time.first(5) rescue '' %>  <%= rake_load.arrival_date.strftime('%d-%m') rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.placement_time.first(5) rescue '' %>  <%= rake_load.placement_date.strftime('%d-%m') rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.release_time.first(5) rescue '' %>  <%= rake_load.release_date.strftime('%d-%m') rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.short_interchange rescue '' %></span></td>
          <td class="text-center"><span class="view-location-<%= index %>"><%= rake_load.short_km rescue '' %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  

<script >
$(function () {

  $("#download-division-loading-daywise").click(function () {
    var report_date = $("#datepicker").val();
    var report_type = "day_wise_division_loading"
    var data = report_date + "," + report_type
    var url = "<%= rake_load_excel_download_path () %>";

    window.open('<%= root_url%>' + url + '?data=' + data, "_self")
    $(html).submit();
  });

});
</script>