<ul class="sub-menu">
  <%if is_subadmin%>
    
    <li class="parent">
      <a <%= "href=#{admin_users_path}"%> title="User"><span>User</span></a>
    </li>

    <li class="parent">
      <a <%= "href=#{admin_states_path}"%> title="State"><span>State</span></a>
    </li>

    <li class="parent">
      <a <%= "href=#{admin_railway_zones_path}"%> title="RailwayZone"><span>RailwayZone</span></a>
    </li>

    <li class="parent">
      <a <%= "href=#{admin_divisions_path}"%> title="Division"><span>Division</span></a>
    </li>

    <li class="parent">
      <a <%= "href=#{admin_areas_path}"%> title="Area"><span>Area</span></a>
    </li>
    
    <li class="parent">
      <a <%= "href=#{admin_stations_path}"%> title="Station"><span>Station</span></a>
    </li>

    <li class="parent">
      <a <%= "href=#{admin_load_unloads_path}"%> title="Loading/Unloading Station"><span>LoadUnload</span></a>
    </li>

    <li class="parent">
      <a <%= "href=#{admin_short_routes_path}"%> title="Add Short Route"><span>Add Short Route</span></a>
    </li>
    <li class="parent">
      <a <%= "href=#{admin_ic_divisions_path}"%> title="InterChange Point"><span>InterChange Point</span></a>
    </li>
     <li class="parent">
      <a <%= "href=#{admin_major_commodities_path}"%> title="MajorCommodity"><span>MajorCommodity</span></a>
    </li>
    <li class="parent">
      <a <%= "href=#{admin_rake_commodities_path}"%> title="RakeCommodity"><span>RakeCommodity</span></a>
    </li>

    <li class="parent">
      <a <%= "href=#{admin_wagon_types_path}"%> title="WagonType"><span>WagonType</span></a>
    </li>
    <li class="parent">
    </li>   
      
  <%end%>

  <%if is_subadmin%>
    
        <li class="parent">
          <a <%= "href=#{new_admin_rake_load_path}"%> title="Loading-One"><span>RakeLoading</span></a>
        </li>
        <li class="parent">
            <a <%= "href=#{new_admin_one_rake_load_path}"%> title="RakeLoadingOne"><span>RakeLoadingOne</span></a>
          </li>
        <li class="parent">
          <a <%= "href=#{new_admin_two_rake_load_path}"%> title="RakeLoadingTwo"><span>RakeLoadingTwo</span></a>
        </li>
        <li class="parent">
          <a <%= "href=#{new_admin_other_load_path}"%> title="Other Loading"><span>OtherLoads</span></a>
        </li>
        <li class="parent">
          <a <%= "href=#{new_admin_rake_unload_path}"%> title="UnLoading(PU)-One"><span>RakePU(Unload)</span></a>
        </li>
        <li class="parent">
          <a <%= "href=#{new_admin_one_rake_unload_path}"%> title="Rake-UnloadOne"><span>Rake-UnloadOne</span></a>
        </li>
        <li class="parent">
          <a <%= "href=#{new_admin_other_unload_path}"%> title="Other-Unload"><span>Other-Unload</span></a>
        </li>
        <li class="parent">
          <a <%= "href=#{new_admin_gets_unload_path}"%> title="GETS-Unload"><span>GETS-Unload</span></a>
        </li>
        <li class="parent">
          <a <%= "href=#{new_admin_aecs_unload_path}"%> title="AECS-Unload"><span>AECS-Unload</span></a>
        </li>
        <li class="parent">
          <a <%= "href=#{new_admin_load_interchange_path}"%> title="Interchange"><span>Interchange</span></a>
        </li>
        <li class="parent">
        </li>   
  <%end%>
   
      <li class="parent">
        <a <%= "href=#{admin_custom_load_reports_path }"%> title="Custom Load Report"><span>Custom Load Report</span></a>
      </li>
      <li class="parent">
        <a <%= "href=#{admin_custom_reports_path }"%> title="Custom Reports"><span>Custom Reports</span></a>
      </li>
      <li class="parent">
        <a <%= "href=#{admin_one_custom_reports_path }"%> title="Custom Reports One"><span>Custom Reports One</span></a>
      </li> 
      <li class="parent">
        <a <%= "href=#{admin_loading_reports_path }"%> title="DayWise Loading"><span>DayWise Loading</span></a>
      </li>
      <li class="parent">
        <a <%= "href=#{admin_unloading_reports_path }"%> title="DayWise PU Release"><span>DayWise PU</span></a>
      </li>
      <li class="parent">
        <a <%= "href=#{admin_phasewise_reports_path }"%> title="Phasewise Reports"><span>Phasewise</span></a>
      </li>
      <li class="parent">
        <a <%= "href=#{admin_one_loading_reports_path }"%> title="Loading Reports"><span>Loading Reports</span></a>
      </li>
      <li class="parent">
        <a <%= "href=#{admin_one_unloading_reports_path }"%> title="(PU)Unloading Reports"><span>(PU)Unloading Reports</span></a>
      </li>
      <li class="parent">
        <a <%= "href=#{admin_load_interchanges_path }"%> title="Interchange Reports"><span>Interchange Reports</span></a>
      </li>

</ul>


<div class="text-right collapse-button" style="padding:3px 5px;">
  <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i>
  </button>
</div>

