<html>
<head>
  
  <title>Rail Data</title>
  
  <link rel="shortcut icon" href="/assets/favicon.png"  type='image/png'>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type='text/css'>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script type="text/javascript">
    var link = $('link[href="assets/style.css"]');
    $(function () {
      setTimeout(function () {
          $('.hide-10').hide();
      }, 10000);

      var tabClicked = getQueryStringParams('tab');
      $('#' + tabClicked).click();

      $(document).on('click', '.cancel-btn', function () {
          $(this).closest("form")[0].reset();
      });
    });
  </script>

  
  <style>
    #cl-wrapper {
      display: table;
      height: 100%;
      margin-left: -20px;
      opacity: 1;
      position: absolute;
      transition: margin-left 600ms ease 0s, opacity 600ms ease 0s;
      width: 100%;
    }

    .table-responsive {

    }

    .table-dark {
      margin-bottom: 60px;
    }

    .datepicker {
      z-index: 1151 !important;
    }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="cl-wrapper">
    <div class="cl-sidebar">
      <div class="cl-toggle"><i class="fa fa-bars"></i></div>
      <div class="cl-navblock">
        <div class="menu-space">
          <div class="content">
            <div class="sidebar-logo">
              <div class="logo">
                <a href="<%= root_url %>">
                  <%custom_url = "raildata-logo.png"%>
                  <%= image_tag custom_url, height: '54px', width: '180px', id: 'raildata-logo' %>
                </a>
              </div>
            </div>
            <% @user_info = current_user.user_info rescue nil%>
              <%= render 'layouts/admin/temp_admin_header' %>
            <%if false%>
            <%end%>
            <%= render 'layouts/admin/admin_header' %>
          </div>
        </div>
      </div>
    </div>
  
  
  <div class="container-fluid" id="pcont">
    <!-- TOP NAVBAR -->
    <div id="head-nav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-collapse">
          <% unless current_user %>
              <a class="brand" href="<%= root_url %>"> <%#= image_tag "logo.png", :style => 'height: 60px;', :width => 'auto' %></a>
              <% if controller_name == 'sessions' and action_name == 'new' %>
                  <ul class="nav navbar-nav navbar-right user-nav">
                    <li class="dropdown profile_menu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Sign Up</span>
                        <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to 'As Company', new_user_registration_url %></li>
                        <li><a href="/users/sign_up?type=Licensor">As Account Manager</a></li>
                      </ul>
                    </li>
                  </ul>
              <% else %>
                  <ul class="nav navbar-nav navbar-right user-nav">
                    <li><a href="<%= new_user_session_url %>">Sign in</a></li>
                  </ul>
              <% end %>
          <% end %>
          <% if current_user %>
            
              <ul class="nav navbar-nav navbar-right user-nav">
                
                <li class="dropdown profile_menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span><%= current_user.first_name %></span>
                    <b class="caret user-caret"></b></a>
                  
                  <ul class="dropdown-menu">
                    
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                  </ul>
                </li>
              </ul>
             
          <% end %>
        </div>
        <!--/.nav-collapse animate-collapse -->
      </div>
    </div>

    <div class="cl-mcont">
      <div class="content">
        <div id="ajax-notice"></div>
        
        <div id="contact_us_flash_message" class="alert alert-success alert-white rounded hide-10" style="display: none;">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          <div class="icon"><i class="fa fa-check"></i></div>
          <strong>Success!</strong> We received your email request! Someone from our team will get back to you as soon as possible
        </div>
        
        <%= yield %>
       
        <div id="loading-icon">
        

        </div>
        <div style="display: none">
          <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, "#", class: 'exception-link', data: {toggle: "modal", target: "#exception-popup"} %>
        </div>
      </div>
    </div>

  </div>

  </div>

</body>


