<style>
	.solid {
		border-style: double;
		font-weight: bold;
		padding: 3px;
		color: #9c3009;
	}
	.solid:hover { 
	  background-color: #9c3009;
	  color: white;
	}
	.read_false{
		font-weight: bolder;
		color: #9c1e16;
	}

</style>
<h4>All Dak Dispatch</h4>
<table class="" id="all-dak-dispatch">
  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
      <th>Sr</th>
      <th>Letter Type</th>
      <th>Letter Number</th>
      <th>Letter Date</th>
      <th>Subject</th>
      <th>Letter Attachment</th>
      <th>Dispatch  At</th>
      <th style="width: 155px;">Receiver</th>
      <th style="width: 150px;">Read At</th>
    </tr>
  </thead>
  <tbody>
  	<%if @all_dak_dispatch.present?%>
  		<%@all_dak_dispatch.each.with_index(@all_dak_dispatch.offset + 1) do |data,index|%>
  			<%temp_status = data.dak_receivers.pluck(:is_read).exclude? false%>
	  		<tr class="read_<%=temp_status%>" style="vertical-align:top">
	  			<td><%=index%></td>
	  			<td><%=data.letter_type%></td>	
	  			<td><%=data.letter_number%></td>	
	  			<td><%=data.letter_issue_date.to_date.strftime("%d/%m/%Y") rescue nil%></td>	
	  			<td><%=data.letter_description%></td>
	  			<td class="read_unread status_<%=temp_status%>" id="<%=data.id%>">
	  				<%data.dak_attachments.count.times do |n|%>
	  					<%= link_to n+1, "#{root_url}"+ "#{data.dak_attachments[n].attachment_path}", class: "solid", target: "_blank" %>
						<%end%>	
	  			</td>
	  			<td><%=data.created_at.to_datetime.strftime("%H:%M %d/%m/%Y") rescue nil%></td>
	  			<td colspan="2" align="center">
	  				<%reader_detail= data.dak_receivers.pluck(:reciever_user_id,:dak_read_time_date)%>
	  				<button id="all_details_<%=index%>" class="btn btn-xs all_show_hide_details">View Details</button>
        		<table id="receiver_all_details_<%=index%>" class="all_receiver_show_hide" style="border: 1px solid #dadada;">
	  					<%reader_detail.each do |r|%>
		  					<tr class="read_<%=temp_status%>">
		  						<td style="width: 155px; font-size: 12px;"><%=User.find(r[0]).first_name%></td>
		  						<td style="width: 150px;"><%=r[1].strftime("%H:%M %d/%m/%Y") rescue nil%></td>
		  					</tr>
	  					<% end %>
	  				</table>
	  			</td>		
	  		</tr>
	  	<%end%>
  	<%end%>
  </tbody>
</table>	 
<div class="row no-margin no-margin unread">

  <div class="col-md-6 col-md-offset-4" id="com-pagination-unread"><%= will_paginate @all_dak_dispatch, renderer: BootstrapPagination::Rails, :param_name => "all" , params: {active_tab: 'all'}%></div>
  
</div> 
<script>
	$(document).ready(function() {
		$(".all_receiver_show_hide").hide();
    $(".all_show_hide_details").click(function(){
    	$(this).text(function(i, v){
        return v === 'View Details' ? 'Hide Details' : 'View Details'
      });
    	temp = "#receiver_" + $(this).attr("id");
    	$(temp).toggle();
    });
  });  	
</script>