<style>
.add-cursor {cursor: pointer;}
.add-cursor span {cursor: pointer;display: inline-block;position: relative;transition: 0.5s;}
</style>

<% @method = "GET" %>
<% @url = admin_daks_path%>
<div>
	<h2>Search Letter's</h2>
	<%= form_tag(@url, method: @method, class: 'form-horizontal', id: 'send-dak-form', remote: true) do |form| %>  
		<table style="width: 850px; ">
			
		    <tr style="padding: 0px; vertical-align: bottom;">
		    	<td>Letter Type
		    		<%= (select_tag "letter_type", options_for_select(@letter_type_list), {prompt: 'Select', class: "form-control  input-sm letter_type",required: true, style: "width: 150px;font-size:12px;"}).html_safe %>
		    				
		    	</td>
		    	<td>Letter Date (Between)
		    		<%= text_field_tag "letter_date", '', type: 'date', id: "date",class: 'form-control input-md letter_date',required: true, style: "width: 145px; font-size:12px;"%><p></p>
		    		
		    	</td>
		    	<td>Dispatch Date (Between)
		    		<%= text_field_tag "letter_date", '', type: 'date', id: "date",class: 'form-control input-md letter_date',required: true, style: "width: 145px; font-size:12px;"%><p></p>
		    		
		    	</td>
		    	<td>Letter No.
		    		<%= text_field_tag "letter_number", '',placeholder: 'Enter Letter Number', id: "letter_number", class: 'form-control input-md letter_number',required: true, style: "width: 210px; font-size:12px;"%>
		    		
		    	</td>
		    	<td>
		    		 <button class="btn btn-primary btn-flat submit" type="submit"><i class="fa fa-send submit"></i>SEND</button>
		    	</td>
		    </tr>
		    <tr>
		    	<td>
		    		Receiver
		    		<%= (select_tag "letter_type", options_for_select(@letter_type_list), {prompt: 'Select', class: "form-control  input-sm letter_type",required: true, style: "width: 150px;font-size:12px;"}).html_safe %>
		    	</td>
		    	<td>
		    		<%= text_field_tag "letter_date", '', type: 'date', id: "date",class: 'form-control input-md letter_date',required: true, style: "width: 145px; font-size:12px;"%>
		    	</td>
		    	<td>
		    		<%= text_field_tag "letter_date", '', type: 'date', id: "date",class: 'form-control input-md letter_date',required: true, style: "width: 145px; font-size:12px;"%>
		    	</td>
		    	<td>
		    		Letter No.
		    		<%= text_field_tag "letter_number", '',placeholder: 'Enter Letter Number', id: "letter_number", class: 'form-control input-md letter_number',required: true, style: "width: 210px; font-size:12px;"%>
		    	</td>
		    </tr>
		  
	  </table>
<div align="center">
		 

</div>		
	<% end %>  	
</div>	