<script>

    $(document).ready(function () {
      $('.sidebar-remain-open').click();

    });
  $(function () {  
    $('.icheck').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue'
        });
  });  
</script>
<style>
.add-cursor {cursor: pointer;}
.add-cursor span {cursor: pointer;display: inline-block;position: relative;transition: 0.5s;}

  html {
    overflow-x: scroll;
  }
  label {
    margin-bottom: 1px;
  }
  .list {
    list-style: none;
    padding-left: 22px;
  }

  /*.table-scroll {
    max-height:500px;
  }
*/
</style>
<%letter_type_list = [['General', 'General'], ['Safety', 'Safety'], ['SafetyBulletin', 'SafetyBulletin'], ['MonthlySafteyRule', 'MonthlySafteyRule'], ['GeneralCircular', 'GeneralCircular'], ['ManPowerPlanning', 'ManPowerPlanning'], ['DivisionOfficeOrder', 'DivisionOfficeOrder'], ['ControlOfficeOrder', 'ControlOfficeOrder']]%>
<% @method = "POST" %>
<% @url = admin_daks_path%>
<div>
<h2>Compose</h2>
<%= form_tag(@url, method: @method, class: 'form-horizontal', id: 'send-dak-form', remote: true) do |form| %>  
	<table class="table">
    <tr>
			<td style="width:40%" valign="top">
				<div>
					<table class="table">
						<tr>
							<td>Letter Type:</td>
							<td><%= (select_tag "letter_type", options_for_select(letter_type_list), {prompt: 'Select', class: "form-control  input-sm letter_type",required: true, style: "width: 280px;font-size:14px;"}).html_safe %></td>
						</tr>
						<tr>
							<td>Letter No.:</td>
     					<td><%= text_field_tag "letter_number", '',placeholder: 'Enter Letter Number', id: "letter_number", class: 'form-control input-md letter_number',required: true, style: "width: 280px; font-size:14px;"%></td>
						</tr>
						<tr>
							<td>Letter Date:</td>
      				<td><%= text_field_tag "letter_date", '', type: 'date',onfocus: "(this.type='date')", onblur: "if(this.value==''){this.type='text'}",placeholder: 'Letter Date', id: "date",class: 'form-control input-md letter_date',required: true, style: "width: 280px; font-size:14px;"%></td>
						</tr>
						<tr>
							<td>Subject:</td>
      				<td><%= text_area_tag "subject", '', placeholder: 'Enter message Subject', id: "subject", class: 'form-control input-md subject',required: true, style: "width: 280px; height:80px;font-size:14px;"%></td>
						</tr>
					</table>
				</div>
			</td>
			<td style="width:30%;">
				<div style="height: 300px;margin: 0;padding: 0;overflow-y: scroll;">
          <p style="font-weight: bold;">&nbsp;&nbsp;Select Recipients:</p>
				  <% @dak_recipient_list.each do |divn,data| %>
            <ul class="list">
              <li class="submenu">
                <input type="checkbox" name="<%=divn%>" id="divn" class="division check_checkbox">
                <a href="#" for="divn"><%=divn%></a>
                <%data.each do |user_type,user_list|%>
                  <ul class="list">
                    <li class="has-submenu">
                      <input type="checkbox" name="<%=divn%>-<%=user_type%>" id="<%=divn%>-<%=user_type%>" class="user_under check_checkbox" >
                      <a href="#" for="<%=divn%>-<%=user_type%>"><%=user_type%></a>
                        <ul class="list">
                          <%user_list.each do |key,value|%>
                            <li><%= check_box_tag("#{key}","select_recipient_#{value}", false, class: 'icheck-list dak_recipient check_checkbox', required: true) %>
                              <label for="<%=key%>-<%=value%>"><%=key%></label>
                            </li>
                          <% end %>
                        </ul>
                    </li>
                  </ul>  
                <% end %>
              </li>
            </ul>    
          <% end %>
        </div>
			</td>
      <td style="width:30%;">
        <div style="height: 300px;margin: 0;padding: 0;overflow-y: scroll;">
          <strong>Selected List: </strong>
          <p id="recipient_select" style="position: relative; word-break: normal"></p>
        </div>  
      </td>  
    </tr>
    <tr>
      <td colspan="3">
        <table class="table">
          <tr>
      			<td colspan="3">Select Files to upload</td>
      		</tr>	
          <%(0..9).each_with_index do |no, index| %>
            <tr class="add-files-tr files-row-data add_files_row_<%= index %>", id= "add_files_row_id_<%= index %>">
              <td style="width:30%;">
                <%= file_field_tag "user_attachment_#{index}", placeholder: "Attachment", class: 'form-control input-md attachment-blank',required: true, id: "user_attachment_#{index}",accept: ".pdf,.xls,.xlsx .csv,.doc,.docx,.odt,.jpg,.jpeg,.png,.txt",style: "width: 300px;border: 1px solid #888;" %>
              </td>
              <td style="width:62%;"></td>
              <td align="center" style="vertical-align: middle;width:8%;">
                <a href="#" class="remove-ip label label-danger" id="<%= index %>-add_files_delete" style="padding:20%"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
          <%end%>
        </table>
      </td>
    </tr>  
  </table>  
</div>
<p></p>
<div>
  <input type="button" class="btn btn-success btn-flat fa-input" value="&#xf067;&nbsp;&nbsp;Add More" id="add_files_add">
</div>
<div align="center">
  <button class="btn btn-primary btn-flat submit" type="submit"><i class="fa fa-send submit"></i>SEND</button>
</div>
<%end%>  

<div class="modal fade colored-header" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 350px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>You really want to delete this Row?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" align="center">
          <input type="button" class="btn btn-danger btn-lg" value="Delete" id="confirm_add_files_delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" class="btn btn-default btn-lg" data-dismiss="modal" value="Cancel"id="cancel">
     
     </div>
    </div>
  </div>
</div>

<script>


  

	$("#add_files_add").click(function(){
    $(".files-row-data:hidden").each(function(i){
      if (i==0) {
        $(this).show();
      }
    });
  });

  <% (0..9).each_with_index do |no,index| %>
    <%if index >= 1 %>
      var tr = '<%=".add_files_row_#{index}"%>';
      $(tr).hide();
    <%end%> 
  <% end %>

  $(".label-danger").on('click',function(){
    delete_index = $(this).attr('id').split("-")[0];
    delete_add_files_id = $("#record_id_"+delete_index).val();
    var visible_row_count = 0
    
    $('.add-files-tr:visible').each(function() {
      visible_row_count = visible_row_count + 1
    });
    $("#delete-modal").modal('show');
  });

  $("#confirm_add_files_delete").click(function () {
    $("#delete-modal").modal('hide');
    
    // if (delete_add_files_id != "") {
    //       $.ajax({
    //       type: "get",
    //       url: "/delete_add_files.js?delete_add_files_id=" + delete_add_files_id
    //     });
    //   }

     $('.add-files-tr:visible').each(function() {
      if($(this).attr("id").split("_")[4] == delete_index){
        $(this).remove('');
      }
    });
  });


  //====================================================
  $('input[type="checkbox"]').change(function(e) {

  var checked = $(this).prop("checked"),
      container = $(this).parent(),
      siblings = container.siblings();

  container.find('input[type="checkbox"]').prop({
    indeterminate: false,
    checked: checked
  });

  function checkSiblings(el) {

    var parent = el.parent().parent(),
        all = true;

    el.siblings().each(function() {
      return all = ($(this).children('input[type="checkbox"]').prop("checked") === checked);
    });

    if (all && checked) {

      parent.children('input[type="checkbox"]').prop({
        indeterminate: false,
        checked: checked
      });

      checkSiblings(parent);

    } else if (all && !checked) {

      parent.children('input[type="checkbox"]').prop("checked", checked);
      parent.children('input[type="checkbox"]').prop("indeterminate", (parent.find('input[type="checkbox"]:checked').length > 0));
      checkSiblings(parent);

    } else {

      el.parents("li").children('input[type="checkbox"]').prop({
        indeterminate: true,
        checked: false
      });

    }

  }

  checkSiblings(container);

});

  $(".submenu ul").hide();
  $(".submenu > a").click(function() {
    $(this).parent().find('ul').each(function(){$(this).toggle();});
    $(".has-submenu ul").hide();
  });  

  $(".has-submenu ul").hide();
  $(".has-submenu > a").click(function() {
    $(this).parent().find('ul').each(function(){$(this).toggle();});
  });


  $(document).ready(function() {
    $(".submit").click(function(){
      var favorite = [];
      $.each($(".dak_recipient:checked"), function(){            
          favorite.push($(this).val());
      });

      $(".files-row-data:hidden").each(function(i) {
        $(this).remove('');
      });
      
      var requiredCheckboxes = $('.check_checkbox');
        if(requiredCheckboxes.is(':checked')) {
            requiredCheckboxes.removeAttr('required');
        } else {
            requiredCheckboxes.attr('required', 'required');
        }
    
    });


    // $(".submit").click(function () {
      
    //   $(".files-row-data:hidden").each(function(i) {
    //     $(this).remove('');
    //   });
    // });  

    $('.dak_recipient,.user_under,.division').change(function () {
      var select_list = [];
      $.each($(".dak_recipient:checked"), function(){            
          select_list.push(" "+$(this).attr('id'));
      });
      document.getElementById("recipient_select").innerHTML=select_list;
    });

  });

  

</script>