<script>

    $(document).ready(function () {
      $('.sidebar-remain-open').click();
    });

</script>
<style>
.add-cursor {cursor: pointer;}
.add-cursor span {cursor: pointer;display: inline-block;position: relative;transition: 0.5s;}

  html {
    overflow-x: scroll;
  }

  .table-scroll {
    max-height:500px;
  }
 
  
</style>
<div>
	<h2>Compose</h2>
	<table>
		<tr>
			<td style="width:40%">
				<div>
					<table>
						<tr>
							<td>Letter Type:</td>
							<td><%= (select_tag "letter_type", options_for_select([['Empty', 'Empty'], ['Loaded', 'Loaded']]), {prompt: 'Select', class: "form-control  input-sm letter_type",required: true, style: "width: 280px;font-size:14px;"}).html_safe %></td>
						</tr>
						<tr>
							<td>Letter No.:</td>
     					<td><%= text_field_tag "letter_number", '',placeholder: 'Enter Letter Number', id: "letter_number", class: 'form-control input-md letter_number',required: true, style: "width: 280px; font-size:14px;"%></td>
						</tr>
						<tr>
							<td>Letter Date:</td>
      				<td><%= text_field_tag "letter_date", '', type: 'date',onfocus: "(this.type='date')", onblur: "if(this.value==''){this.type='text'}",placeholder: 'Letter Date', id: "date",class: 'form-control input-md letter_date', style: "width: 280px; font-size:14px;"%></td>
						</tr>
						<tr>
							<td>Subject:</td>
      				<td><%= text_area_tag "subject", '', placeholder: 'Enter message Subject', id: "subject", class: 'form-control input-md subject', style: "width: 280px; height:80px;font-size:14px;"%></td>
						</tr>
					</table>
				</div>
			</td>
			<td style="width:60%">
				<div style="width: 50%;height: 300px;margin: 0;padding: 0;overflow-y: scroll;">
					<div style="width:100%" id="tree"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">Select Files to upload</td>
		</tr>	
			<td colspan="2">

  		</td>
		</tr>
	</table>
</div>


<script>


  

	$("#load_interchange_add").click(function(){
    $(".interchange-row-data:hidden").each(function(i){
      if (i==0) {
        $(this).show();
      }
    });
  });

  <% (0..10).each_with_index do |no,index| %>
    <%if index >= 1 %>
      var tr = '<%=".load_interchange_row_#{index}"%>';
      $(tr).hide();
    <%end%> 
  <% end %>


  var mytree = [
    {
      text: "AhmedabadDivision",
      nodes: [
        {
          text: "OPERATING",
          nodes: [
            {
              text: "DTI-PLNG"
            },
            {
              text: "Grandchild 2"
            }
          ]
        },
        {
          text: "COMMERCIAL"
        }
      ]
    },
    {
      text: "Headquater",
      nodes: [
        {
          text: "General",
          nodes: [
            {
              text: "OS"
            },
            {
              text: "Grandchild 2"
            }
          ]
        },
        {
          text: "Hindi"
        }
      ]
    },
    {
      text: "Parent 3"
    },
    {
      text: "Parent 4"
    },
    {
      text: "Parent 5"
    }
  ];

  function getTree() {
    // Some logic to retrieve, or generate tree structure
    return data;
  }

  $('#tree').treeview({
    data: mytree,
    showCheckbox: true
  });
  
  $("#tree").find("[data-nodeid=0]").find(".check-icon").remove();
  window.onclick = function(){
    $("#tree").find("[data-nodeid=0]").find(".check-icon").remove();
  };


  

</script>