<script>
  var rake_commodity_data = []
</script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script> -->
<% @method = "POST" %>
<% @url = admin_rake_loads_path %>
<div class="table-responsive" style="overflow-x: scroll; overflow-y: scroll;">
  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" >
    <p style="font-size: 18px;color:red;">Total-Loading :<%=(@total_rake_loads)+(@total_other_loads)%>&nbsp;&nbsp;&nbsp;
        Rake :<%=(@total_rake_loads)%>&nbsp;&nbsp;&nbsp;
        Other :<%=(@total_other_loads)%>
    </p>
  </div>
  
<%= form_tag(@url, method: @method, class: 'form-horizontal', id: 'rake-loading-form',remote: true) do |form| %>
<table class="table hover table-dark span12 rake-load-table" style="margin-bottom: 20px !important; overflow-x: scroll; ">
  <thead>
  <tr >

    <th>SR NO</th>
    <th>From_Station To_Station</th>
    <th>Forecast_Date Received_As</th>
    <th>Loaded Total/Units </th>
    <th>Wagon_Type RakeCount</th>
    <th>Commodity<br>Stack(CONT)</th>
    <th>ODR Type</th>
    <th>ARR Time</th>
    <th>PM Time</th>
    <th>RL Time</th>
    <th>ShortRouteIC ShortRouteKM</th> <!--IC - Interchange, KM--Kilometer -->
    <th>AR_PM<br> PM_RL</th>
    <th>Remarks</th>
    <th>Action</th>
    
  </tr>
  </thead>
  <tbody>

    <%(0..55).each_with_index do |no, index| %>
      <tr class="rake-load-tr rake-row-data rake_load_row_<%= index %>", id= "rake_load_row_id_<%= index %>">
        <td align="center" style="font-size: 25;">
        
        </td>
        <td>
          <%= text_field_tag "from_station_#{index}", '',placeholder: 'FromSTN', id: "from_station_#{index}", class: 'form-control input-md from_station',maxlength:"4", required: true, style: "width: 100px; font-size:16px; text-transform:uppercase;"%>
        <p></p>
          
          <%= text_field_tag "to_station_#{index}", '',placeholder: 'To STN', id: "to_station_#{index}", class: 'form-control input-md to_station',maxlength:"4",required: true, style: "width: 100px; font-size:16px; text-transform:uppercase;"%>
        </td>
        <td>
          <%= text_field_tag "forecast_date_#{index}",'', type: 'date',placeholder: 'Forecast Date', id: "forecast_date_#{index}", class: 'form-control input-md', style: "width: 145px;"%>
        <p></p>
          <%= select_tag "received_as_#{index}", options_for_select([["EMPTY","EMPTY"],["BACK-LOAD","BACK-LOAD"]]), {prompt: "Received As", class: 'form-control input-md', id: "received_as_#{index}", data_live_search: "true"} %>
        </td>
        <td>
          <%= number_field_tag "loaded_unit_#{index}", '', placeholder: "L", class: 'form-control input-md',required: true, min:1,max:65,title: 'Enter loaded Units', id: "loaded_unit_#{index}",style: "width: 75px; font-size:16px;" %>
        <p></p>
          <%= number_field_tag "total_unit_#{index}", '', placeholder: "Ttl", class: 'form-control input-md',title: 'Enter Total Units', id: "total_unit_#{index}",required: true, min: "1",max: "65",style: "width: 75px; font-size:16px;" %>
        </td>

        <td style="padding-bottom: 1%;padding-top: 1%;">
          <%= select_tag "wagon_type_#{index}", options_for_select(@wagon_type), {prompt: "Stock", class: 'form-control input-md',required: true, style: "width: 100px;", id: "wagon_type_#{index}", data_live_search: "true"} %>
        <p></p>
          <%= number_field_tag "rake_count_#{index}",'', placeholder: "Rake Count", class: 'form-control input-md',id: "rake_count_#{index}",step: "0.01",max: "1",required: true,style: "width: 100px;border: 1px solid #888;" %>
        </td>
        
        <td>
          <%= select_tag "major_commodity_#{index}", options_for_select(@major_commodity), {prompt: "Commodity", class: 'form-control editing-family input-md major-commodity-dropdown', id: "major_commodity_#{index}",required: true,style: "width: 100px;", data_live_search: "true"} %>
          <p></p>
          <%= select_tag "stack_#{index}", options_for_select([["SINGLE","SINGLE"],["DOUBLE","DOUBLE"]]), {prompt: "Stack", class: 'form-control input-md',disabled:true,style: "width: 100px;", id: "stack_#{index}", data_live_search: "true"}%>
          <%if false%>
            <p></p> 
            <h5 class="add-rake-commodity", id="add_rake_commodity_<%= index %>">ADD Commodity</h5>
          <%end%>
       </td>

        <td>
          <%= select_tag "odr_type_#{index}", options_for_select([["A","A"],["B","B"],["C","C"],["D","D"],["E","E"]]), {prompt: "ODR", class: 'form-control input-md',style: "width: 65px;", id: "odr_type_#{index}", data_live_search: "true"}%>
        </td>

        <td align="center">
          <%= text_field_tag "arrival_time_#{index}", '', type: 'time',placeholder: 'arrival Time', id: "arrival_time_#{index}", class: 'form-control input-md arrival_time', style: "width: 160px; font-size:16px;"%>
        <p></p>
          <%= text_field_tag "arrival_date_#{index}", '', type: 'date',placeholder: 'arrival Date', id: "arrival_date_#{index}",class: 'form-control input-md arrival_date', style: "width: 160px; font-size:16px;"%>
        </td>

        <td>
          <%= text_field_tag "placement_time_#{index}", '', type: 'time',placeholder: 'placement time', id: "placement_time_#{index}", class: 'form-control input-md placement_time', style: "width: 160px; font-size:16px;"%>
        <p></p>
          <%= text_field_tag "placement_date_#{index}", '', type: 'date',placeholder: 'placement Date', id: "placement_date_#{index}", class: 'form-control input-md placement_date', style: "width: 160px; font-size:16px;"%>
        </td>

        <td>
          <%= text_field_tag "release_time_#{index}", '', type: 'time',placeholder: 'release time', id: "release_time_#{index}", class: 'form-control input-md release_time', style: "width: 160px; font-size:16px;"%>
        <p></p>
          <%= text_field_tag "release_date_#{index}", '', type: 'date',placeholder: 'release Date', id: "release_date_#{index}", class: 'form-control input-md release_date', style: "width: 160px; font-size:16px;"%>
        </td>
        <td>
          <%= select_tag "short_interchange_#{index}", options_for_select([["GER","GER"],["VGDC","VGDC"],["DHG","DHG"],["MALB","MALB"],["PNU","PNU"],["BLDI","BLDI"],["LOCAL","LOCAL"]]), {prompt: "IC-PT", class: 'form-control input-md',style: "width: 100px; font-size:16px;", id: "short_interchange_#{index}", data_live_search: "true"}%>
          <p></p>
          <%= number_field_tag "short_km_#{index}", '',placeholder: 'Short KM', id: "short_km_#{index}", class: 'form-control input-md', style: "width: 100px; font-size:16px;"%>
        </td>
        <td>
          <%= text_field_tag "detention_arrival_placement_#{index}",'', placeholder: "AR-PM",readonly: true, class: 'form-control input-md detention_arrival_placement',id: "detention_arrival_placement_#{index}",style: "width: 80px;border: 1px solid #888; font-size:16px;background-color:#ffe6e6;" %>
          <p></p>
          <%= text_field_tag "detention_placement_release_#{index}",'', placeholder: "PM-RL",readonly: true, class: 'form-control input-md detention_placement_release',id: "detention_placement_release_#{index}",style: "width: 80px;border: 1px solid #888; font-size:16px;background-color:#ffe6e6;" %>
        </td>
        
        <td>
          <%= text_area_tag "remarks_#{index}", '', placeholder: 'enter remarks if any', id: "remarks_#{index}", class: 'form-control input-md', style: "width: 305px; height:80px;"%>
          <%= hidden_field_tag  "record_id_#{index}", "", id: "record_id_#{index}" %>
          
        </td>
        <td align="center">
          <a href="#" class="remove-ip label label-danger" id="<%= index %>-rake-load_delete" style="padding: 20%" ><i class="fa fa-trash-o"></i></a>
          
        </td>
      <%end%>  
    </tbody>
  </table>
  <div class= "form-group text-center station_error_msg" id="station_error_msg" style="display: none"></div>
  <%= hidden_field_tag  "date", "", id: "date" %>
  <input type="button" class="btn btn-success btn-flat fa-input" value="&#xf067;&nbsp;&nbsp;Add Row" id="rake_load_add">
    <div class="modal-footer" style="text-align: center !important;">
        <button class="btn btn-primary btn-flat submit" type="submit"><i class="fa fa-check submit"></i>Save</button>
    </div>
  <% end %>
</div>

  
<div class="modal fade colored-header" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 350px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>You really want to delete this Row?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body" align="center">
        
          <input type="button" class="btn btn-danger btn-lg" value="Delete" id="confirm_rake_load_delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" class="btn btn-default btn-lg" data-dismiss="modal" value="Cancel"id="cancel">
     
     </div>
    </div>
  </div>
</div>

<script >
$(function(){
  $('table tr').each(function(index) {
    $(this).find('td:nth-child(1)').html(index-1+1);
  });

  
  <% (0..55).each_with_index do |no,index| %>
    <%if index >= 0%>
      $('<%="#major_commodity_#{index}"%>').change(function() {
        var commodity = $('<%="#major_commodity_#{index} :selected"%>').text();
        if (commodity == "CONT--CONTAINER") 
        {
          $('<%="#stack_#{index}"%>').removeAttr("disabled");
        }
        else
        {
          $('<%="#stack_#{index}"%>').val("").prop('disabled', 'disabled');
        }

      });

    <%end%> 
  <% end %>

  $(document).ready(function(){
    <% (0..55).each_with_index do |no,index| %>
      <%if index >= 0%>
        var commodity = $('<%="#major_commodity_#{index} :selected"%>').text();
          if (commodity == "CONT--CONTAINER")
          {
            $('<%="#stack_#{index}"%>').removeAttr("disabled");
          }
      <%end%> 
    <%end%>
  });



  $(".submit").click(function () {
    $("#date").val($("#datepicker").val());
    $(".rake-row-data:hidden").each(function(i) {
      $(this).remove('');
    });

  });
  $('#rake-loading-form').submit(function(){
    $("button[type='submit']", this)
      .text("Please Wait...")
      .attr('disabled', 'disabled');
    return true;
  });
  
  $(".cancel-btn").click(function () {
    if (confirm('Are you sure?')) 
    {
      $(".rake-row-data").each(function(i) {
        $(this).remove('');
      });
    } 
    else 
      {
        return false;
      }
  });
  

    
    <% (0..55).each_with_index do |no,index| %>
      <%if index >= (@rake_loads.count || 0)%>
        var tr = '<%=".rake_load_row_#{index}"%>';
        $(tr).hide();
      <%end%> 
    <% end %>
    <%if @rake_loads.present?%>
      <%@rake_loads.each_with_index do |data,index|%>
        from_station = "#from_station_"+<%=index%>
        to_station = "#to_station_"+<%=index%>
        forecast_date = "#forecast_date_"+<%=index%>
        received_as = "#received_as_"+<%=index%>
        major_commodity = "#major_commodity_"+<%=index%>
        wagon_type = "#wagon_type_"+<%=index%>
        loaded_unit = "#loaded_unit_"+<%=index%>
        total_unit = "#total_unit_"+<%=index%>
        rake_count = "#rake_count_"+<%=index%>
        stack = "#stack_"+<%=index%>
        odr_type = "#odr_type_"+<%=index%>
        arrival_time = "#arrival_time_"+<%=index%>
        arrival_date = "#arrival_date_"+<%=index%>
        placement_time = "#placement_time_"+<%=index%>
        placement_date = "#placement_date_"+<%=index%>
        release_time = "#release_time_"+<%=index%>
        release_date = "#release_date_"+<%=index%>
        detention_arrival_placement = "#detention_arrival_placement_"+<%=index%>
        detention_placement_release = "#detention_placement_release_"+<%=index%>
        short_interchange = "#short_interchange_"+<%=index%>
        short_km = "#short_km_"+<%=index%>

        remarks = "#remarks_"+<%=index%>
        rake_id = "#record_id_"+<%=index%>

        // $(from_station).val('<%=data.load_unload_id%>');
        $(from_station).val('<%=Station.where(id: LoadUnload.where(id: data.load_unload_id).pluck(:station_id)[0]).pluck(:code)[0]%>');
        // $(to_station).val('<%=data.station_id%>');
        $(to_station).val('<%=Station.where(id: data.station_id).pluck(:code)[0]%>');
        
        $(forecast_date).val('<%=data.forecast_date%>');
        $(received_as).val('<%=data.rake_received%>');
        $(major_commodity).val('<%=data.major_commodity_id%>');
        $(wagon_type).val('<%=data.wagon_type_id%>');
        $(loaded_unit).val('<%=data.loaded_unit%>');
        $(total_unit).val('<%=data.total_unit%>');
        $(rake_count).val('<%=data.rake_count%>');
        $(stack).val('<%=data.stack%>');
        $(odr_type).val('<%=data.odr_type%>');
        $(arrival_time).val('<%=data.arrival_time%>');
        $(arrival_date).val('<%=data.arrival_date%>');
        $(placement_time).val('<%=data.placement_time%>');
        $(placement_date).val('<%=data.placement_date%>');
        $(release_time).val('<%=data.release_time%>');
        $(release_date).val('<%=data.release_date%>');
        $(detention_arrival_placement).val('<%=data.detention_arrival_placement%>');
        $(detention_placement_release).val('<%=data.detention_placement_release%>');
        $(short_interchange).val('<%=data.short_interchange%>');
        $(short_km).val('<%=data.short_km%>');
        $(remarks).val('<%=data.remark%>');
        $(rake_id).val('<%=data.id%>');
          
      <%end%>
    <%end%>
  
  
  $("#rake_load_add").click(function() {
   $(".rake-row-data:hidden").each(function( i ) {
     if(i == 0){
       $(this).show();
      }
    });
  });

  $(".label-danger").on('click',function(){
    delete_index = $(this).attr('id').split("-")[0];
    delete_rake_id = $("#record_id_"+delete_index).val();
    var visible_row_count = 0
    $('.rake-load-tr:visible').each(function() {
      visible_row_count = visible_row_count + 1
    });
    // if(visible_row_count == 1){
    //   return
    // }
    
    $("#delete-modal").modal('show');
  });

  $("#confirm_rake_load_delete").click(function () {
    $("#delete-modal").modal('hide');
    if (delete_rake_id != "") {
      
          $.ajax({
          type: "get",
          url: "/delete_rake_load.js?delete_rake_id=" + delete_rake_id
        });
      }

    $('.rake-load-tr:visible').each(function() {
      if($(this).attr("id").split("_")[4] == delete_index){
        $(this).remove('');
      }
    });
  });

  // Modal 
  <%if params[:action] == "new"%>
    <%(0..55).each do |no|%>
      rake_commodity_data.push([])
    <%end%>
  <%else%>  
  <%end%>
  
  
  $("#rake_commodity_add").click(function() {
   $(".rake-commodity-div:hidden").each(function( i ) {
     if(i == 0){
       $(this).show();
     }
   });
 });


  $(".rake-commodity-delete").on('click',function(){
    delete_index = $(this).attr('id').split("_")[0]
    visible_row_count = 0
    $('.rake-commodity-div:visible').each(function() {
      visible_row_count = visible_row_count + 1
    });
    if(visible_row_count == 1){
      return
    }

    $('.rake-commodity-div:visible').each(function() {
      if($(this).attr("id").split("-")[3] == delete_index){
        $(this).remove('');
      }
    });
  });
});

function set_rake_commodity_values(rake_dropdown_value){
  <% if params[:action] == "new"%>
    hide_rake_commodity_values();
    <% (0..15).each_with_index do |no,index| %>
      add_rake_commodity = "#major_commodity_dropdown_id_"+<%=no%>+"_"+rake_dropdown_value
      $(add_rake_commodity).css('display', '');
      <%if index != 0%>
        var tr = '<%="#rake-commodity-div-#{index}"%>';
        $(tr).hide();
      <%end%> 
    <% end %>
  <%else%>

  <%end%>

}

  function hide_rake_commodity_values(){
    <%(0..15).each do |no| %>
      <%@rake_commodity.each do |key,value|%>
        add_rake_commodity = "#major_commodity_dropdown_id_"+<%=no%>+"_"+<%=key%>
        $(add_rake_commodity).css('display', 'none');
      <%end%>
    <%end%>
  }
 

  $(document).ready(function(){
    $('.release_date').each(function(i) {
      
      var row_no = $(this).attr('id').split('_')[2]
      var release_date_id = "#release_date_"+row_no
      set_release_date = $("#datepicker").val();
      $(release_date_id).attr("max", set_release_date);
      $(release_date_id).attr("min", set_release_date);
      
    });  
  });

  $(".arrival_date").on('focusout', function () {
    arrival_date = $(this).val();
    mydate = $("#datepicker").val();
    parts = mydate.split('/');
    form_date = parts[2] + '-' + parts[1] + '-' + parts[0];

    new_arrival_date = new Date(arrival_date);
    new_form_date = new Date(form_date);
    form_date_less_five = new Date(new_form_date.getTime() - (60*60*24*5*1000));
    
    if ((arrival_date > form_date) && arrival_date !=0) {
      var error_msg ="----Arrival Date Cannot be Greater than Form Date"
      $("#station_error_msg").text(error_msg).css({'color': 'red', 'background-color': 'yellow', 'width':'100%'});
      $(".station_error_msg").show();
      $(this).focus(); 
    }
    else if((new_arrival_date < form_date_less_five)&& arrival_date !=0){
      var error_msg ="----Arrival Date Cannot be Less than Five Days from FormDate"
      $("#station_error_msg").text(error_msg).css({'color': 'red', 'background-color': 'yellow', 'width':'100%'});
      $(".station_error_msg").show();
      $(this).focus(); 
    }
    else if ((arrival_date <= form_date) && (new_arrival_date >= form_date_less_five) &&arrival_date !=0) {
      var row_no = $(this).attr('id').split('_')[2]
      get_date_check(row_no);
    }
    else{
      $("#station_error_msg").text("");
      $(".station_error_msg").hide();
    }
   
    
  }); 

  $(".placement_date").on('focusout', function () {
    placement_date = $(this).val();
    mydate = $("#datepicker").val();
    parts = mydate.split('/');
    form_date = parts[2] + '-' + parts[1] + '-' + parts[0];
      if ((placement_date > form_date) && placement_date !=0) {
        var error_msg ="----Placement Date Cannot be Greater than Form Date"
        $("#station_error_msg").text(error_msg).css({'color': 'red', 'background-color': 'yellow', 'width':'100%'});
        $(".station_error_msg").show();
        $(this).focus(); 
      }
      else if ((placement_date <= form_date) && placement_date !=0) {
        var row_no = $(this).attr('id').split('_')[2]
        get_date_check(row_no);
      }
      else{
        $("#station_error_msg").text("");
        $(".station_error_msg").hide();
      }
     
    
  });

  function get_date_check(row_no){
    var arrival_date_id = "#arrival_date_"+row_no
    var placement_date_id = "#placement_date_"+row_no

    var arrival_date = $(arrival_date_id).val();
    var placement_date = $(placement_date_id).val();
    
    if ((arrival_date > placement_date) && arrival_date !=0 && placement_date !=0) {
      var error_msg ="----Placement Date Cannot be Less than Arrival Date"
      $("#station_error_msg").text(error_msg).css({'color': 'red', 'background-color': 'yellow', 'width':'100%'});
      $(".station_error_msg").show();
    }
    else{
      $("#station_error_msg").text("");
      $(".station_error_msg").hide();
    }
  }

  $(".arrival_time,.arrival_date,.placement_time,.placement_date,.release_time,.release_date").on('keyup change', function () {
    var row_no = $(this).attr('id').split('_')[2]
    get_detention(row_no);
    
  });  
     
  function get_detention(row_no){
    
    var arrival_time_id = "#arrival_time_"+row_no
    var arrival_date_id = "#arrival_date_"+row_no
    var placement_time_id = "#placement_time_"+row_no
    var placement_date_id = "#placement_date_"+row_no
    var release_time_id = "#release_time_"+row_no
    var release_date_id = "#release_date_"+row_no

    var detention_arrival_placement = "#detention_arrival_placement_"+row_no
    var detention_placement_release = "#detention_placement_release_"+row_no

    var arrival_time = $(arrival_time_id).val();
    var arrival_date = $(arrival_date_id).val();
    var placement_time = $(placement_time_id).val();
    var placement_date = $(placement_date_id).val();
    var release_time = $(release_time_id).val();
    var release_date = $(release_date_id).val();
    // var detention_placement_release = $(detention_placement_release_id).val();

    var arrival = new Date(arrival_time +" "+ arrival_date)
    var placement = new Date(placement_time +" "+ placement_date);
    var release = new Date(release_time +" "+ release_date);

    // Detention from arrival to placement --Start
    var detnarr = placement - arrival;
    if (detnarr>=0) {
      var detnarr_minutes = Math.floor(detnarr / 60000);
      var detnarr_hours = Math.floor(detnarr_minutes / 60);
      var detnarr_minutes2 = Math.floor(detnarr_minutes % 60);
      
      
      if(detnarr_minutes2 < 10){
          detnarr_minutes2 = "0"+ detnarr_minutes2
        }else{
          detnarr_minutes2 = detnarr_minutes2
        }
      if(detnarr_hours < 10){
          detnarr_hours = "0"+detnarr_hours
        }else{
          detnarr_hours = detnarr_hours
        }

       
        var detnarr_final_time = detnarr_hours+":"+detnarr_minutes2;
        // alert(final_time);
        
        $(detention_arrival_placement).val(detnarr_final_time);
        if(detnarr_hours > 23) {
        $(detention_arrival_placement).css({"background-color":"#ff5c33"});
        }
        else
        {
          $(detention_arrival_placement).css({"background-color":"#ffe6e6"});
        }
  
      }
      else{
        $(detention_arrival_placement).val("NA");
      }

    // Detention from arrival to placement --Ends

    // Detention from placement to release --Start
    var detn = release - placement;
    if (detn>0) {
      var minutes = Math.floor(detn / 60000);
      var hours = Math.floor(minutes / 60);
      var minutes2 = Math.floor(minutes % 60);
      
      
      if(minutes2 < 10){
          minutes2 = "0"+minutes2
        }else{
          minutes2 = minutes2
        }
      if(hours < 10){
          hours = "0"+hours
        }else{
          hours = hours
        }

       
        var final_time = hours+":"+minutes2;
        // alert(final_time);
        
        $(detention_placement_release).val(final_time);
        if(hours > 23) {
        $(detention_placement_release).css({"background-color":"#ff5c33"});
        }
        else
        {
          $(detention_placement_release).css({"background-color":"#ffe6e6"});
        }
  
      }
      else{
        $(detention_placement_release).val("NA");
      }

      // Detention from placement to release --Ends
   
  }

    // Finds From station
    $('.from_station').on('focusout', function () {
    
    var row_no = $(this).attr('id').split('_')[2]
    var from_station_id = "from_station_"+row_no

    var from_station_code = $(this).val();
    // debugger
      if (from_station_code != "") {
          $.ajax({
          type: "get",
          url: "/find_from_station.js?from_station_code=" + from_station_code + "&from_station_id=" + from_station_id
        });
      }
    
    });
    // Finds to station
   $('.to_station').on('focusout', function () {
    
    var row_no = $(this).attr('id').split('_')[2]
    var to_station_id = "to_station_"+row_no

    var station_code = $(this).val();
    // debugger
      if (station_code != "") {
          $.ajax({
          type: "get",
          url: "/find_station.js?station_code=" + station_code + "&to_station_id=" + to_station_id
        });
      }
    
    });

    
     
 
  // function remove_requrired(){

  //   $(".rake-row-data:hidden").each(function( i ) {
      
  //     row_no = $(this).attr('id').split("_")[4]
  //     from_station = "#from_station_"+row_no
  //     to_station = "#to_station_"+row_no
     
  //     major_commodity = "#major_commodity_"+row_no
  //     wagon_type = "#wagon_type_"+row_no
  //     total_unit = "#total_unit_"+row_no
      

  //     $(from_station).prop('required', false)
  //     $(to_station).prop('required', false)
  //     $(major_commodity).prop('required', false)
  //     $(wagon_type).prop('required', false)
  //     $(total_unit).prop('required', false)
     
  //   });
  // }


</script>