<div id="display_employee_allowance_reports">
<span style="font-size: 16px;color:#cc3d16;">Employee Allowance Report&nbsp;&nbsp;</span>

<table class="table hover table-bordered" id="allowance-reports">
  <thead class="thead-dark">
    <tr style="color: #fff; background: #4B4B4D;">
      <th style="vertical-align: middle;" rowspan="2">Station</th>
      <th style="vertical-align: middle;" rowspan="2">TI-Beat</th>
      <th style="vertical-align: middle;" rowspan="2">Month</th>
      <th style="vertical-align: middle;" rowspan="2">Category</th>
      <th style="vertical-align: middle;" rowspan="2">Group</th>
      <%@employee_allowance_type.each do |all_type|%>
      	<th 
      		style="vertical-align: middle;" 
      		<%if all_type== "OverTime"%>
      			colspan="3"
      		<%elsif all_type== "Transpotation"%>
      			colspan="2"
      		<%end%>
      	>
      		<%=all_type%>
      	</th>
      <%end%>
    </tr>
    <tr style="color: #fff; background: #4B4B4D;">
    	<%@employee_allowance_type.each do |all_type|%>
      	<%if all_type=="OverTime"%>
      		<th>Hrs</th>
      		<th>Min</th>
      		<th>Amt</th>
      	<%elsif all_type== "Transpotation"%>	
      		<th>Days</th>
      		<th>Amt</th>
      	<%elsif all_type== "Contingency"%>	
      		<th>Amt</th>
    		<%end%>
    	<%end%>
    </tr>
  </thead>
  <tbody>
  <%if @employee_allowance_reports_data.present?%>
  	<%@employee_allowance_reports_data.each do |stn,stn_data|%>
  		<tr>
  			<td rowspan="<%=stn_data.keys.count+1+stn_data.values[0].keys.count+1%>"><%=stn.code%></td>
        <td rowspan="<%=stn_data.keys.count+1+stn_data.values[0].keys.count+1%>"><%=StationUnderTiUser.find_by_station_id(stn.id).user.first_name rescue nil%></td>
  		</tr>	
      <%stn_data.each do |mnth,mnth_data|%>
        <tr>
          <td rowspan="<%=mnth_data.keys.count+1%>"><%=mnth%></td>
        </tr>
        <%mnth_data.each do |category,category_data|%>
          <tr>
            <td><%=category.name%></td>
            <td><%=category.group%></td>
            <%if @employee_allowance_type.include?("OverTime")%>
              <td><%=category_data["over_time_hours"]%></td>
              <td><%=category_data["over_time_minutes"]%></td>
              <td><%=category_data["over_time_amount"]%></td>
            <%end%>
            <%if @employee_allowance_type.include?("Transpotation")%>
              <td><%=category_data["transpotation_days"]%></td>
              <td><%=category_data["transpotation_amount"]%></td>
            <%end%>
            <%if @employee_allowance_type.include?("Contingency")%>
              <td><%=category_data["contingency_amount"]%></td>
            <%end%>
          </tr>
        <%end%>
      <%end%>
  	<%end%>
  <%end%>
  </tbody>
</table>
</div>
<script>
  
</script>
