<style>
  html {
    overflow-x: scroll;
  }
</style>
<script>

    $(document).ready(function () {
      $('.sidebar-remain-open').click();
    });

</script>
<div class="table-responsive main-client-listing">
  <div id="client-message"></div>
  <table class="table hover table-dark" id="unloading-reports">
    <caption>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <span class="pull-left lead-text">
            <%="Unloading Report DayWise"%>
          </span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
        <%= text_field_tag "load_report_date", Date.today.strftime('%Y-%m-%d'),placeholder: 'rake load date', id: "datepicker", class: 'form-control input_class'%>

        
      </div>
     
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input aria-invalid="false" aria-required="true" class="form-control input-md valid " type="text" id="primary-search" placeholder="Search by name or Code">
        </div>
      </div>
      
      
      <% if false %>
          <div class="row">
            <a href="#" class="advance-search col-md-2 pull-right" style="border-bottom: 0px;">
              <p class="filter-link">Show Advanced Search</p>
            </a>
          </div>
          <%= render 'filters' %>
      <% end %>
    </caption>
    </table>
    
  <div class="tab-container">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#division-unloading-info" id="division-unloading-tab" data-toggle="tab">Division</a>
      </li>
      <li>
        <a href="#adi-area-unloading-info" id="adi-area-unloading-tab" data-toggle="tab">ADI</a>
      </li>
      <li>
        <a href="#gimb-area-unloading-info" id="gimb-area-unloading-tab" data-toggle="tab">GIMB</a>
      </li>
      
      <li>
        <a href="#unload-summary" id="unload-summary-tab" data-toggle="tab">Div(Summary)</a>
      </li>
      <li>
        <a href="#abc-unload-summary" id="abc-unload-summary-tab" data-toggle="tab">ABC-Unload</a>
      </li>
     
    </ul>

    <div class="tab-content">
      <div id="division-unloading-info" class="tab-pane active cont">
        <%=render 'division_listing'%>
        <div id="division_unload_form"></div>
      </div>
      <div id="adi-area-unloading-info" class="tab-pane cont">
        <%=render 'adi_listing'%>
        <div id="adi_unload_form"></div>
      </div>
      <div id="gimb-area-unloading-info" class="tab-pane cont">
        <%=render 'gimb_listing'%>
        <div id="gimb_unload_form"></div>
      </div>
    <%if false%>
      <div id="unload-summary" class="tab-pane cont">
        <%=render 'unload_summary'%>
        <div id="unload_summary_form"></div>
      </div>
    <% end %>
      <div id="abc-unload-summary" class="tab-pane cont">
        
        <div id="abc_unload_summary_form"></div>
      </div>
      
      <div id="unloading-indicator">
        <%#= image_tag("728.GIF", :id => "unloading-indicator") %>
      </div>
    </div>
  </div>
  

</div>





<script>
  

  var old_date = '<%=Date.today.strftime("%d/%m/%Y")%>';
  $(function () {
    $("#datepicker").datepicker({ 
          autoclose: true, 
          format:"dd/mm/yyyy",
          todayHighlight: true,
    }).on('change', function(){
      effective_from = $("#datepicker").val();
      // if(old_date != effective_from){
        $.ajax({
          type: "get",
          url: "/admin/unloading_reports.js?data=" + effective_from
        });
        old_date = effective_from 

      // }
      
    });
    
    $('#datepicker').datepicker('setDate', 'today');


    
  });
  
</script>
