<script>

    $(document).ready(function () {
      $('.sidebar-remain-open').click();
    });

</script>
<div class="table-responsive main-client-listing">
  <div id="client-message"></div>
  <table class="table hover table-dark" id="division-listing">
    <caption>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <span class="pull-left lead-text">
            <%="Divisions : #{@divisions.count} "%>
          </span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input aria-invalid="false" aria-required="true" class="form-control input-md valid " type="text" id="primary-search" placeholder="Search by name or Code">
        </div>
      </div>
      <%if is_viewable%>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= link_to '<i class="fa fa-plus"></i>&nbsp;&nbsp;Add Division'.html_safe, new_admin_division_path, remote: true, class: "btn btn-primary btn-block btn-rad", style: "height: 35px;padding: 7px 11px" %>
          
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <%= link_to '<i class="fa fa-plus"></i>&nbsp;&nbsp;Import/Export'.html_safe, new_admin_division_path(import_export: "true"), remote: true, class: "btn btn-primary btn-block btn-rad", style: "height: 35px;padding: 7px 11px" %>
          
        </div>
      <%end%>
      <% if false %>
          <div class="row">
            <a href="#" class="advance-search col-md-2 pull-right" style="border-bottom: 0px;">
              <p class="filter-link">Show Advanced Search</p>
            </a>
          </div>
          <%= render 'filters' %>
      <% end %>
    </caption>
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Zone Code</th>
      <%if is_viewable%>
        <th>Actions</th>
      <%end%>  
    </tr>
    </thead>
    <tbody>
      <% @divisions.each_with_index do |division, index| %>
        <%= render :partial => 'listing', :locals => {:division => division, :index => index} %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row no-margin no-margin">

  <div class="col-md-6 col-md-offset-4" id="com-pagination"><%= will_paginate @divisions, renderer: BootstrapPagination::Rails %></div>
  
</div>

<div id="division-popup"></div>


<script>
  $('.division-delete').on('click', function () {
    $('#custom-confirm-box').find('.delete').attr("data-remote", true);
  });
</script>