<script>

    $(document).ready(function () {
      $('.sidebar-remain-open').click();
    });

</script>
<div class="table-responsive main-client-listing">
  <div id="client-message"></div>
  <table class="table hover table-dark" id="one-unloading-reports">
    <caption>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <span class="pull-left lead-text">
            <%="(PU)UnloadingReport"%>
          </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <%= text_field_tag "report_from_date",Date.today.strftime('%Y-%m-%d'),placeholder: 'one_loading from date', id: "from-datepicker", class: 'form-control input_class'%>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <%= text_field_tag "report_to_date", Date.today.strftime('%Y-%m-%d'),placeholder: 'one_loading to date', id: "to-datepicker", class: 'form-control input_class'%>
      </div>
     
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" >
        <button class="btn btn-primary btn-flat submit" type="submit">Show Report</button>
      </div>
      
    </caption>
    </table>
    
  <div class="tab-container">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#adi-area-stationwise-info" id="adi-area-stationwise-tab" data-toggle="tab">STN(A)</a>
      </li>
      <li>
        <a href="#gimb-area-stationwise-info" id="gimb-area-stationwise-tab" data-toggle="tab">STN(G)</a>
      </li>
      <li>
        <a href="#adi-area-stockwise-info" title="Stock Released on Particular Date(ADI Area)" id="adi-area-stockwise-tab" data-toggle="tab">Stk(A)</a>
      </li>
     <!--  <li>
        <a href="#adi-area-received-stockwise-info" title="Stock Received on Particular Date(ADI Area)" id="adi-area-received-stockwise-tab" data-toggle="tab">Stk(Re-A)</a>
      </li> -->
      <li>
        <a href="#gimb-area-stockwise-info" id="gimb-area-stockwise-tab" title="Stock Released on Particular Date(GIMB Area)"data-toggle="tab">Stk(G)</a>
      </li>
      <!-- <li>
        <a href="#gimb-area-received-stockwise-info" title="Stock Received on Particular Date(GIMB Area)" id="gimb-area-received-stockwise-tab" data-toggle="tab">Stk(Re-G)</a>
      </li> -->
      <li>
        <a href="#division-stockwise-info" id="division-stockwise-tab" data-toggle="tab">Stk(D)</a>
      </li>
     <!--  <li>
        <a href="#division-received-stockwise-info" title="Stock Received on Particular Date(Division)" id="division-received-stockwise-tab" data-toggle="tab">Stk(Re-D)</a>
      </li> -->
      <li>
        <a href="#adi-area-commodity-info" id="adi-area-commodity-tab" data-toggle="tab">CDT(A)</a>
      </li>
      <li>
        <a href="#gimb-area-commodity-info" id="gimb-area-commodity-tab" data-toggle="tab">CDT(G)</a>
      </li>
      <li>
        <a href="#division-commodity-info" id="division-commodity-tab" data-toggle="tab">CDT(D)</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="adi-area-stationwise-info" class="tab-pane active cont">
        <%=render 'adi_stationwise'%>
        <div id="adi_stationwise_form"></div>
      </div>
      <div id="gimb-area-stationwise-info" class="tab-pane cont">
        <%=render 'gimb_stationwise'%>
        <div id="gimb_stationwise_form"></div>
      </div>
      <div id="adi-area-stockwise-info" class="tab-pane cont">
        <%=render 'adi_stockwise'%>
        <div id="adi_stockwise_form"></div>
      </div>
      <!-- <div id="adi-area-received-stockwise-info" class="tab-pane cont">
        <%#=render 'adi_received_stockwise'%>
        <div id="adi_received_stockwise_form"></div>
      </div> -->
      <div id="gimb-area-stockwise-info" class="tab-pane cont">
        <%=render 'gimb_stockwise'%>
        <div id="gimb_stockwise_form"></div>
      </div>
      <!-- <div id="gimb-area-received-stockwise-info" class="tab-pane cont">
        <%#=render 'gimb_received_stockwise'%>
        <div id="gimb_received_stockwise_form"></div>
      </div> -->
      <div id="division-stockwise-info" class="tab-pane cont">
        <%=render 'division_stockwise'%>
        <div id="division_stockwise_form"></div>
      </div>
     <!--  <div id="division-received-stockwise-info" class="tab-pane cont">
        <%#=render 'division_received_stockwise'%>
        <div id="division_received_stockwise_form"></div>
      </div> -->
      <div id="adi-area-commodity-info" class="tab-pane cont">
        <%=render 'adi_commodity'%>
        <div id="adi_commodity_form"></div>
      </div>
      <div id="gimb-area-commodity-info" class="tab-pane cont">
        <%=render 'gimb_commodity'%>
        <div id="gimb_commodity_form"></div>
      </div>
      <div id="division-commodity-info" class="tab-pane cont">
        <%=render 'division_commodity'%>
        <div id="division_commodity_form"></div>
      </div>
      <div id="loading-indicator">
        <%#= image_tag("728.GIF", :id => "loading-indicator") %>
      </div>
    </div>
  </div>
  

</div>





<script>
  

  var old_from_date = '<%=Date.today.strftime("%d/%m/%Y")%>';
  var old_to_date = '<%=Date.today.strftime("%d/%m/%Y")%>';
  $(function () {
    $("#from-datepicker").datepicker({ 
          autoclose: true, 
          format:"dd/mm/yyyy",
          todayHighlight: true,
    });
    $('#from-datepicker').datepicker('setDate', 'today');
 
    $("#to-datepicker").datepicker({ 
          autoclose: true, 
          format:"dd/mm/yyyy",
          todayHighlight: true,
    });
    $('#to-datepicker').datepicker('setDate', 'today');
  

  });

  $(".submit").click(function () {
     effective_from = $("#from-datepicker").val();
     effective_to = $("#to-datepicker").val();
        $.ajax({
          type: "get",
          url: "/admin/one_unloading_reports.js?from_date=" + effective_from + "&to_date=" + effective_to
        });
        old_from_date = effective_from 
        old_to_date = effective_to
      
  });

  

</script>
