<script>
  var rake_commodity_data = []
</script>
<% @method = "POST" %>
<% @url = admin_one_rake_loads_path %>
<div class="table-responsive" style="overflow-x: scroll; overflow-y: scroll;">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >
    <p style="font-size: 20px;color:red;">Total-Loading :<%=(@total_rake_loads)+(@total_other_loads)%>&nbsp;&nbsp;&nbsp;
        Rake-Loading :<%=(@total_rake_loads)%>&nbsp;&nbsp;&nbsp;
        Other-Loading :<%=(@total_other_loads)%></p>
  </div>
<%= form_tag(@url, method: @method, class: 'form-horizontal', id: 'one-rake-loading-form',remote: true) do |form| %>
<table class="table hover table-dark span12" style="margin-bottom: 20px !important; overflow-x: scroll; ">
  <thead>
  <tr >

    <th>SR NO</th>
    <th>From<br>To</th>
    <th>Units<br>Rake</th>
    <th>Stock<br>Commodity</th>
    <th>Release <br>Time_Date</th>
    <th>Commodity<br>BreakUp</th>
    <th>TUES_First<br>Second_Row</th> <!-- enabled only for Major-commodity Type=CONT-container -->
    <th>Power Arrival</th>
    <th>Departure</th>  
    <th>RL_PA<br>PA_DEP</th>   <!-- Detention RL-release,PA-PowerArrival,DEP-departure --> 
    <th>PowerNo <br> BPC Type</th>
    <th>BPC Station <br> BPC Date</th>
    <th>IC Point<br>RL-DP</th>
    <th>Interchange TimeDate</th>
    <th>Remarks</th>
  </tr>
  </thead>
  <tbody>

    <%(0...@one_rake_loads.count).each_with_index do |no, index| %>
      <tr class="one-rake-load-tr one-rake-row-data one_rake_load_row_<%= index %>", id= "one_rake_load_row_id_<%= index %>">
        <td align="center" style="font-size: 25;">
          
        </td>
        <td>
          <%= text_field_tag "from_station_#{index}", '',placeholder: 'FromSTN', id: "from_station_#{index}",disabled:true, class: 'form-control input-md from_station',maxlength:"4", style: "width: 65px; font-size:16px; text-transform:uppercase;"%>
        <p></p>
          
          <%= text_field_tag "to_station_#{index}", '',placeholder: 'To STN', id: "to_station_#{index}",disabled:true, class: 'form-control input-md to_station',maxlength:"4", style: "width: 65px; font-size:16px; text-transform:uppercase;"%>
        </td>
        <td>
          <%= number_field_tag "loaded_unit_#{index}", '', placeholder: "L", class: 'form-control input-md',min:1,max:65,title: 'Enter loaded Units', id: "loaded_unit_#{index}",disabled:true,style: "width: 65px; font-size:16px;" %>
        <p></p>
          <%= number_field_tag "rake_count_#{index}",'', placeholder: "Rake Count", class: 'form-control input-md',id: "rake_count_#{index}", disabled:true, step: "0.01",style: "width: 100px;border: 1px solid #888;" %>
        </td>
        <td>
          <%= select_tag "wagon_type_#{index}", options_for_select(@wagon_type), {prompt: "Stock", class: 'form-control input-md',required: true,disabled:true, style: "width: 90px;", id: "wagon_type_#{index}", data_live_search: "true"} %>
          <p></p>
          <%= select_tag "major_commodity_#{index}", options_for_select(@major_commodity), {prompt: "Commodity", class: 'form-control editing-family input-md major-commodity-dropdown', id: "major_commodity_#{index}",required: true,disabled:true,style: "width: 90px;", data_live_search: "true"} %>
        </td>
        <td>
          <%= text_field_tag "release_time_#{index}", '', type: 'time',placeholder: 'Release time', id: "release_time_#{index}", class: 'form-control input-md',disabled:true, style: "width: 95px; font-size:16px;"%>
        <p></p>
          <%= text_field_tag "release_date_#{index}", '',type:'date',placeholder: 'release Date', id: "release_date_#{index}",disabled:true, class: 'form-control input-md', style: "width: 141px; font-size:14px;"%>
        </td>

       
        <td align="center">
          <%= text_field_tag "commodity_breakup_#{index}", '',placeholder: '', id: "commodity_breakup_#{index}", class: 'form-control input-md commodity_breakup', style: "width: 135px; height: 50px; font-size:13px; text-transform:uppercase;"%>
         
          <p></p>
          <a href="#" style="color: #326b2c" class="add-rake-commodity", id="add_rake_commodity_<%= index %>">
          <i class="fa fa-plus"></i>ClickToAdd/View
          </a>
        </td>

        <td>
          <%= number_field_tag "tue_first_row_#{index}", '',placeholder: "1st Row", class: 'form-control input-md', title: 'TUES on first or Bottom Row', id: "tue_first_row_#{index}", style: "width: 85px; font-size:16px;"%>
          <p></p>
          <%= number_field_tag "tue_second_row_#{index}", '',placeholder: "2nd Row", class: 'form-control input-md', title: 'TUES on second or UPPER Row', id: "tue_second_row_#{index}", style: "width: 85px; font-size:16px;"%>
        </td>

         <td>
          <%= text_field_tag "powerarrival_time_#{index}", '', type: 'time',placeholder: 'power arrival Time', id: "powerarrival_time_#{index}", class: 'form-control input-md powerarrival_time', style: "width: 160px; font-size:16px;"%>
        <p></p>
          <%= text_field_tag "powerarrival_date_#{index}", '', type: 'date',placeholder: 'power arrival Date', id: "powerarrival_date_#{index}", class: 'form-control input-md powerarrival_date', style: "width: 160px; font-size:16px;"%>
        </td>
        <td>
           <%= text_field_tag "departure_time_#{index}", '', type: 'time',placeholder: 'Departure Time', id: "departure_time_#{index}", class: 'form-control input-md departure_time', style: "width: 160px; font-size:16px;"%>
        <p></p>
          <%= text_field_tag "departure_date_#{index}", '', type: 'date',placeholder: 'Departure Date', id: "departure_date_#{index}", class: 'form-control input-md departure_date', style: "width: 160px; font-size:16px;"%>
        </td>
        <td>
          <%= text_field_tag "detention_release_powerarrival_#{index}",'', placeholder: "RL-PA", class: 'form-control input-md detention_release_powerarrival', id: "detention_release_powerarrival_#{index}",readonly: true ,style: "width: 70px;border: 1px solid #888; font-size:15px;background-color:#ffe6e6;" %>
          <p></p>
          <%= text_field_tag "detention_powerarrival_departure_#{index}",'', placeholder: "PA-DEP", class: 'form-control input-md detention_powerarrival_departure', id: "detention_powerarrival_departure_#{index}",readonly: true ,style: "width: 70px;border: 1px solid #888; font-size:15px;background-color:#ffe6e6;" %>
        </td>
        <td>
           <%= number_field_tag "power_no_#{index}", '', placeholder: "Power", class: 'form-control input-md',title: 'Enter Power No', id: "power_no_#{index}",style: "width: 90px; font-size:16px;" %>
        <p></p>
          <%= select_tag "bpc_type_#{index}", options_for_select([["CC35","CC35"],["CC30","CC30"],["PRE","PRE"],["EE","EE"],["RTRP","RTRP"],["Safe","Safe"]]), {prompt: "Type", class: 'form-control input-md',style: "width: 90px;", id: "bpc_type_#{index}", data_live_search: "true"}%>
        </td>
        <td>
          <%= text_field_tag "bpc_station_#{index}", '',placeholder: 'BPC Station', id: "bpc_station_#{index}", class: 'form-control input-md', style: "width: 140px; font-size:15px;"%>
        <p></p>
          <%= text_field_tag "bpc_date_#{index}", '', type: 'date',placeholder: 'BPC Date', id: "bpc_date_#{index}", class: 'form-control input-md', style: "width: 140px; font-size:13px;"%>
        </td>
        <td>
          <%= select_tag "actual_interchange_#{index}", options_for_select([["GER","GER"],["VGDC","VGDC"],["DHG","DHG"],["MALB","MALB"],["PNU","PNU"],["BLDI","BLDI"],["LOCAL","LOCAL"]]), {prompt: "IC", class: 'form-control input-md',style: "width: 75px;", id: "actual_interchange_#{index}", data_live_search: "true"}%>
          <p></p>
          <%= text_field_tag "detention_release_departure_#{index}",'', placeholder: "RL-DP", class: 'form-control input-md detention_release_departure', id: "detention_release_departure_#{index}",readonly: true ,style: "width: 70px;border: 1px solid #888; font-size:15px;background-color:#ffe6e6;" %>
        </td>
       
        <td>
          <%= text_field_tag "ic_time_#{index}", '',type: 'time',placeholder: 'Interchange Time', id: "ic_time_#{index}", class: 'form-control input-md', style: "width: 140px; font-size:15px;"%>
        <p></p>
          <%= text_field_tag "ic_date-#{index}", '', type: 'date',placeholder: 'Interchange Date', id: "ic_date_#{index}", class: 'form-control input-md', style: "width: 140px; font-size:13px;"%>
        </td>
        <td>
          <%= text_area_tag "remark_#{index}", '', placeholder: 'enter remark if any', id: "remark_#{index}", class: 'form-control input-md', style: "width: 305px; height:80px;"%>
          <%= hidden_field_tag  "record_id_#{index}", "", id: "record_id_#{index}" %>
          
        </td>
      </tr>
    <%end%>  
  </tbody>
  </table>
  <%= hidden_field_tag  "date", "", id: "date" %>
    <div class="modal-footer" style="text-align: center !important;">
        <button class="btn btn-default cancel-btn" id="cancel-btn"><i class="fa fa-remove"></i>Cancel</button>
        <button class="btn btn-primary btn-flat submit" type="submit"><i class="fa fa-check submit"></i>Save</button>
       
    </div>
  <% end %>
</div>

<%if true%>
<div class="modal fade colored-header" id="add-commodity-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 550px;">
    <div class="modal-content">
      <div class="modal-header">
        <h3>ADD Rake Commodity</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
      <%= hidden_field_tag :major_commodity_id_in_add_commodity,""%>
        

        <%(0..15).each_with_index do |index| %>
          <div class="rake-commodity-div" id="rake-commodity-div-<%= index %>">
            <div id="add-old">
              <div class="row">
                <%@rake_commodity.each do |key,value|%>
                  <div class="col-md-4 major-commodity-dropdown-class-<%=index%>" id="major_commodity_dropdown_id_<%=index%>_<%=key%>" style="display: none">
                    <%= select_tag "rake_code_#{index}", options_for_select(value[:data]), {prompt: 'Select rake comm',class: 'input-lg form-control rake-code', id: "rake_code_#{index}"} %>
                  </div>
                <%end%> 
                <div class="col-md-3">
                 <%= text_field_tag "rake_unit_#{index}",params[:rake_unit], placeholder: 'Units', class: 'form-control currency input-lg commodity-rake-unit',id: "rake_unit_#{index}" %>
                </div>
                <div class="col-md-3">
                 <%= text_field_tag "commodity_rake_count_#{index}",params[:commodity_rake_count], placeholder: 'RakeCount',readonly: true, class: 'form-control currency input-lg commodity-rake-count',id: "commodity_rake_count_#{index}" %>
                </div>
                
                <div class="col-md-2">
                  <a href="#" class="remove-ip rake-commodity-delete" id="<%= index %>_variable_allowance_delete"><i class="fa fa-trash-o btn btn-lg btn-danger"></i></a>
                </div>
              </div>
            </div>
          </div>
        <%end%>  
        <input type="button" class="btn btn-primary btn-lg" value="Add Rows" id="rake_commodity_add">
        <button class="btn btn-primary btn-flat rake-commodity-save"><i class="fa fa-check save"></i>Save</button>
        <p class= "form-group commodity_more_error" id="commodity_more_error" style="display: none"></p>
    </div>
      </div>
    </div>
  </div>
</div>
<%end%>
<script >
$(function(){
  current_loaded_unit_count = 0;
  current_rake_count = 0;
  $('.add-rake-commodity').on('click',function(){
    current_loaded_unit_count = 0;
    current_rake_count = 0;
    $("#major_commodity_id_in_add_commodity").val("");
    row_no = $(this).attr("id").split("_")[3]
    rake_load_id = $("#record_id_"+row_no).val();
    major_commodity_id = $("#major_commodity_"+row_no).val();
    $("#major_commodity_id_in_add_commodity").val(rake_load_id);
    var loaded_unit_count = parseInt($("#loaded_unit_"+row_no).val());
    var rake_count = parseInt($("#rake_count_"+row_no).val());
    current_loaded_unit_count = loaded_unit_count
    current_rake_count = rake_count
      if (rake_load_id != "") {
          $.ajax({
          type: "get",
          url: "/load_commodity_breakup.js?rake_load_id=" + rake_load_id
        });
      }
    $("#add-commodity-modal").modal('show');
    set_rake_commodity_values(major_commodity_id);
  });

  $(".commodity-rake-unit").on('keyup',function(){
    var current_count = 0;
    $(".commodity-rake-unit:visible").each(function(index){
      if(isNaN(parseInt($(this).val()))){
        current_count += 0;
      }else{
      current_count += parseInt($(this).val());
      }
    });
    if(current_count != current_loaded_unit_count){
      $(".rake-commodity-save").hide();
      // alert("Rake unit can't be more than Lodad unit");
      $("#commodity_more_error").text("Breakup cannot be less or more than loaded").css({'color': 'red', 'background-color': 'yellow', 'width':'310px'});
      $(".commodity_more_error").show();
    }else{
      $(".rake-commodity-save").show();
      $(".commodity_more_error").hide();
    }
    row_no = $(this).attr("id").split("_")[2]
    var commodity_rake_count = "#commodity_rake_count_"+row_no
    loaded_unit = $(this).val();
    rake_count = (loaded_unit*current_rake_count)/current_loaded_unit_count
    rake_count = rake_count.toFixed(2);
    $(commodity_rake_count).val(rake_count);

  });

  $(".rake-commodity-save").on('click',function(){
    rake_commodity_count = parseInt('<%=@rake_commodity.count%>');
    rake_commodity_string = ""
    <%(0..15).each do |i|%>
      rake_dropdown_parent = ".major-commodity-dropdown-class-"+<%=i%>+":visible"
      $(rake_dropdown_parent).each(function(index){
        select_rake_commodity = $("#rake_code_"+'<%=i%>').val();
        select_rake_commodity = $(this).children().val();
        select_rake_unit = $("#rake_unit_"+'<%=i%>').val();
        commodity_rake_count = $("#commodity_rake_count_"+'<%=i%>').val();
        if (select_rake_commodity != "" && select_rake_unit != ""){
          rake_commodity_string += "&select_rake_commodity_"+'<%=i%>'+"=" + select_rake_commodity + "&select_rake_unit_"+'<%=i%>'+"=" + select_rake_unit+"&commodity_rake_count_"+'<%=i%>'+"=" + commodity_rake_count
        }
      });
    <%end%>
    
    var rake_load_id = $("#major_commodity_id_in_add_commodity").val();
    $.ajax({
        type: "post",
        url: "/admin/one_rake_loads.js?rake_load_id=" + rake_load_id + "&is_rake_commodity=" + "true" + rake_commodity_string
      });
    
    $("#add-commodity-modal").find('.close').click();
  });

  
  $('table tr').each(function(index) {
    $(this).find('td:nth-child(1)').html(index-1+1);
  });

  $(".submit").click(function () {
    $("#date").val($("#datepicker").val());
    });
  });
  
  $('#one-rake-loading-form').submit(function(){
    $("button[type='submit']", this)
      .text("Please Wait...")
      .attr('disabled', 'disabled');
    return true;
  });

 
    <%if @one_rake_loads.present?%>
      <%@one_rake_loads.each_with_index do |data,index|%>
        from_station = "#from_station_"+<%=index%>
        to_station = "#to_station_"+<%=index%>
        loaded_unit = "#loaded_unit_"+<%=index%>
        rake_count = "#rake_count_"+<%=index%>
        wagon_type = "#wagon_type_"+<%=index%>
        major_commodity = "#major_commodity_"+<%=index%>
        release_time = "#release_time_"+<%=index%>
        release_date = "#release_date_"+<%=index%>
        
        commodity_breakup = "#commodity_breakup_"+<%=index%>
        tue_first_row = "#tue_first_row_"+<%=index%>
        tue_second_row = "#tue_second_row_"+<%=index%>
        powerarrival_time = "#powerarrival_time_"+<%=index%>
        powerarrival_date = "#powerarrival_date_"+<%=index%>
        departure_time = "#departure_time_"+<%=index%>
        departure_date = "#departure_date_"+<%=index%>
        detention_release_powerarrival = "#detention_release_powerarrival_"+<%=index%>
        detention_powerarrival_departure = "#detention_powerarrival_departure_"+<%=index%>
        detention_release_departure = "#detention_release_departure_"+<%=index%>
        power_no = "#power_no_"+<%=index%>
        bpc_type = "#bpc_type_"+<%=index%>
        bpc_station = "#bpc_station_"+<%=index%>
        bpc_date = "#bpc_date_"+<%=index%>
        actual_interchange = "#actual_interchange_"+<%=index%>
        ic_time = "#ic_time_"+<%=index%>
        ic_date = "#ic_date_"+<%=index%>
        remark = "#remark_"+<%=index%>
        rake_id = "#record_id_"+<%=index%>

         // $(from_station).val('<%=data.load_unload_id%>');
        $(from_station).val('<%=Station.where(id: LoadUnload.where(id: data.load_unload_id).pluck(:station_id)[0]).pluck(:code)[0]%>');
        // $(to_station).val('<%=data.station_id%>');
        $(to_station).val('<%=Station.where(id: data.station_id).pluck(:code)[0]%>');
        $(loaded_unit).val('<%=data.loaded_unit%>');
        $(rake_count).val('<%=data.rake_count%>');
        $(wagon_type).val('<%=data.wagon_type_id%>');
        $(major_commodity).val('<%=data.major_commodity_id%>');
        $(release_time).val('<%=data.release_time%>');
        $(release_date).val('<%=data.release_date%>');
        var flag = '<%=CreateRakeLoadsRakeCommodity.find_by(:rake_load_id => data.id) ? true:false %>'
        if (flag == "true") {
          flag = "Data Present"
        }
        else{
          flag = "No data"
        }
        $(commodity_breakup).val(flag)
        $(tue_first_row).val('<%=data.tue_first_row%>');
        $(tue_second_row).val('<%=data.tue_second_row%>');
        $(powerarrival_time).val('<%=data.powerarrival_time rescue ""%>');
        $(powerarrival_date).val('<%=data.powerarrival_date rescue ""%>');
        $(departure_time).val('<%=data.departure_time%>');
        $(departure_date).val('<%=data.departure_date%>');
        $(detention_release_powerarrival).val('<%=data.detention_release_powerarrival rescue ""%>');
        $(detention_powerarrival_departure).val('<%=data.detention_powerarrival_departure rescue ""%>');
        // detention_removal_departure coloumn used for detention_release_departure
        $(detention_release_departure).val('<%=data.detention_removal_departure rescue ""%>');
        $(power_no).val('<%=data.power_no%>');
        $(bpc_type).val('<%=data.bpc_type%>');
        $(bpc_station).val('<%=data.bpc_station%>');
        $(bpc_date).val('<%=data.bpc_date%>');
        $(actual_interchange).val('<%=data.actual_interchange%>');
        $(ic_time).val('<%=data.ic_time%>');
        $(ic_date).val('<%=data.ic_date%>');
        $(remark).val('<%=data.remark%>');
        $(rake_id).val('<%=data.id%>');
          
      <%end%>
    <%end%>
  
  


 

  // Modal 
  <%if params[:action] == "new"%>
    <%(0..55).each do |no|%>
      rake_commodity_data.push([])
    <%end%>
  <%else%>  
  <%end%>
  
  // $(".add-rake-commodityxyz").on('click',function(){
  //   current_index = $(this).attr('id').split("_")[3]
  //   rake_dropdown = "#major_commodity_"+current_index
  //   rake_dropdown_value = $(rake_dropdown).val();
  //   if (rake_dropdown_value != ""){
  //     $("#add-commodity-modal").modal('show');
  //     set_rake_commodity_values(rake_dropdown_value);
  //   }else{
  //     alert("First select Major Commodity")
  //   }
  // });

  $("#rake_commodity_add").click(function() {
   $(".rake-commodity-div:hidden").each(function( i ) {
     if(i == 0){
       $(this).show();
     }
   });
 });





function set_rake_commodity_values(rake_dropdown_value){
  <% if params[:action] == "new"%>
    hide_rake_commodity_values();
    <% (0..15).each_with_index do |no,index| %>
      add_rake_commodity = "#major_commodity_dropdown_id_"+<%=no%>+"_"+rake_dropdown_value
      
      $(add_rake_commodity).css('display', '');

      <%if index != 0%>
        var tr = '<%="#rake-commodity-div-#{index}"%>';
        $(tr).hide();
        
      <%end%> 
    <% end %>
  <%else%>

  <%end%>

  }

  function hide_rake_commodity_values(){
    <%(0..15).each do |no| %>
      <%@rake_commodity.each do |key,value|%>
        add_rake_commodity = "#major_commodity_dropdown_id_"+<%=no%>+"_"+<%=key%>
        $(add_rake_commodity).css('display', 'none');
      <%end%>
    <%end%>
  }


  $(".powerarrival_time,.powerarrival_date,.departure_time,.departure_date").on('keyup change', function () {
    var row_no = $(this).attr('id').split('_')[2]
    get_detention(row_no);
    
  });
  
  function get_detention(row_no){
    var release_time_id = "#release_time_"+row_no
    var release_date_id = "#release_date_"+row_no
    var powerarrival_time_id = "#powerarrival_time_"+row_no
    var powerarrival_date_id = "#powerarrival_date_"+row_no
    var departure_time_id = "#departure_time_"+row_no
    var departure_date_id = "#departure_date_"+row_no

    var detention_release_powerarrival = "#detention_release_powerarrival_"+row_no
    var detention_powerarrival_departure = "#detention_powerarrival_departure_"+row_no
    var detention_release_departure = "#detention_release_departure_"+row_no
    
    var release_time = $(release_time_id).val();
    var release_date = $(release_date_id).val();
    var powerarrival_time = $(powerarrival_time_id).val();
    var powerarrival_date = $(powerarrival_date_id).val();
    var departure_time = $(departure_time_id).val();
    var departure_date = $(departure_date_id).val();

    var release = new Date(release_time +" "+ release_date);
    var powerarrival = new Date(powerarrival_time +" "+ powerarrival_date);
    var departure = new Date(departure_time +" "+ departure_date);

    // Detention for power arrival starts
    var detnpower = powerarrival - release; 
    if (detnpower>0) {
      var detnpower_minutes = Math.floor(detnpower / 60000);
      var detnpower_hours = Math.floor(detnpower_minutes / 60);
      var detnpower_minutes2 = Math.floor(detnpower_minutes % 60);
      
      
      if(detnpower_minutes2 < 10){
          detnpower_minutes2 = "0"+detnpower_minutes2
        }else{
          detnpower_minutes2 = detnpower_minutes2
        }
      if(detnpower_hours < 10){
          detnpower_hours = "0"+detnpower_hours
        }else{
          detnpower_hours = detnpower_hours
        }

       
        var detnpower_time = detnpower_hours+":"+detnpower_minutes2;
        $(detention_release_powerarrival).val(detnpower_time);
      }
      else{
        $(detention_release_powerarrival).val("NA");
      }
    // Detention for power arrival Ends
   

    // Detention for power arrival to train departure Starts
    
    if (release < powerarrival) {
     var powerdep = departure - powerarrival;
      
    }
    else{
      var powerdep = departure - release; 
    }

    if (powerdep>0) {
      var powerdep_minutes = Math.floor(powerdep / 60000);
      var powerdep_hours = Math.floor(powerdep_minutes / 60);
      var powerdep_minutes2 = Math.floor(powerdep_minutes % 60);
      
      if(powerdep_minutes2 < 10){
          powerdep_minutes2 = "0"+powerdep_minutes2
        }else{
          powerdep_minutes2 = powerdep_minutes2
        }
      if(powerdep_hours < 10){
          powerdep_hours = "0"+powerdep_hours
        }else{
          powerdep_hours = powerdep_hours
        }
        var powerdep_time = powerdep_hours+":"+powerdep_minutes2;
        $(detention_powerarrival_departure).val(powerdep_time);
      }
      else{
        $(detention_powerarrival_departure).val("NA");
      }

    // Detention for power arrival to train departure Ends

    // Detention for release to departure starts
    var detn_rl_dep = departure - release; 
    if (detn_rl_dep>0) {
      var detn_rl_dep_minutes = Math.floor(detn_rl_dep / 60000);
      var detn_rl_dep_hours = Math.floor(detn_rl_dep_minutes / 60);
      var detn_rl_dep_minutes2 = Math.floor(detn_rl_dep_minutes % 60);
      
      if(detn_rl_dep_minutes2 < 10){
          detn_rl_dep_minutes2 = "0"+detn_rl_dep_minutes2
        }else{
          detn_rl_dep_minutes2 = detn_rl_dep_minutes2
        }
      if(detn_rl_dep_hours < 10){
          detn_rl_dep_hours = "0"+detn_rl_dep_hours
        }else{
          detn_rl_dep_hours = detn_rl_dep_hours
        }

        var detn_rl_dep_time = detn_rl_dep_hours+":"+detn_rl_dep_minutes2;
        $(detention_release_departure).val(detn_rl_dep_time);
      }
      else{
        $(detention_release_departure).val("NA");
      }
    // Detention for release to departure  Ends


  }

</script>